.body{
    font-family: "Roboto";
  }
  
  h1 {
    font-family: "Roboto", unset;
    color: #000000;
    font-size: x-large;
    padding: 5px;
    margin: 0;
    text-align: left;
  }
  h2 {
    font-family: "Roboto", initial;
    font-size: 15px;
    margin-bottom: 10px;
  }
  h3 {
    flex-grow: 1; /* Permitir que el texto "Epicas" ocupe el espacio restante */
    text-align: center; /* Alinea el texto al centro */
  }


  .row {
    display: flex; /* Hacer que los elementos dentro de .row se muestren en línea */
    align-items: center; /* Alinear verticalmente los elementos dentro de .row */
  }
  
  .responsable-info {
    display: flex; /* Hacer que los elementos dentro de .responsable-info se muestren en línea */
    align-items: center; /* Alinear verticalmente los elementos dentro de .responsable-info */
  }
  
  .responsable-info h2 {
    margin-top: 5px;
    margin: 2px;
  }
  .responsable-info p {
    margin-top: 5px;
    margin: 5px;
  }
  
  /* Estilos para el elemento .smaller-main */
  .smaller-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }
  
  /* Estilos para los botones */
  .custom-button {
    width: 100px; /* Ancho en píxeles */
    height: 35px; /* Altura en píxeles */
    text-align: center;
  }
  
  /* Estilos para alinear los botones a la derecha en la tabla */
  .button-container {
    text-align: right;
  }  
  .header {
    justify-content: center;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  .nav-item {
    margin-top: 10px;
    text-align: center;
    width: 780px;
    
    a:active, // Aplica el estilo cuando el enlace está activo
    a:focus {  // Aplica el estilo cuando el enlace está enfocado
      background-color: #ece8e8;
      color: #000000;
    }
  }
  .nav-link {
    font-family: 'Roboto', initial;
    font-size: 20px;
    color: rgb(0, 0, 0);
  }

  .nav {
    .nav-link {
      font-family: 'Roboto',initial;
      font-size: 20px; // Establece el tamaño de fuente deseado
      color: rgb(0, 0, 0); // Cambia el color de texto a azul (puedes ajustarlo según tus preferencias)
    }
  }
  
  button {
    width: auto; /* Ancho automático, ajustado al contenido */
  }
  

th , td {
  vertical-align: middle;
  text-align: center; /* Centra el texto horizontalmente en las celdas del encabezado */
}
  
.porcentaje-bajo {
    color: red; // Define el color rojo para porcentajes bajos.
}
  
.porcentaje-medio {
    color: orange; // Define el color verde (u otro color de tu elección) para porcentajes normales.
}
  
.porcentaje-cien {
    color: green; // Define el color verde (u otro color de tu elección) para porcentajes normales.
}
.porcentaje-normal {
    color: #504f4f;
}
.column-nombre {
  width: 475px; /* Ajusta el ancho a tu preferencia */
}
.column-presupuesto {
  width: 155px; /* Ajusta el ancho a tu preferencia */
}
.column-modalidad {
  width: auto; /* Ajusta el ancho a tu preferencia */
}
.column-fecha {
  width: 115px; /* Ajusta el ancho a tu preferencia */
}
.column-total {
  width: 50px; /* Ajusta el ancho a tu preferencia */
}
.column-acciones {
  width: 170px; /* Ajusta el ancho a tu preferencia */
}

  
  
  