<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="actividad.listar.component.scss">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto+Slab&display=swap" rel="stylesheet">
    
</head>
<body>
  <div  class="row-with-button mb-1">  
    <div> 
      <div class="row">
        <div class="responsable-info">
          <h1 ><img src="/assets/Programas.png" width="30mp" alt="logo" id="logo" title="{{ patNombre }}"> {{ patNombre }} </h1>
        </div>
        <div class="responsable-info">
          <img src="/assets/tareas de proceso.png" width="20mp" alt="logo" id="logo" title="{{ actividadNombre }}"><h3>Actividad estratégica:</h3>
          <p> {{ actividadNombre }} </p> 
        </div>
        <div class="responsable-info">
          <h3 title="Porcentaje Actual" ><i class="bi bi-percent me-1 tamaño-iconos color-iconoPorcentaje"></i>Porcentaje actual:</h3>
          <p [ngClass]="colorPorcentaje(porcentajeEstrategica)">{{ porcentajeEstrategica | comasPipe  }} %</p>                                                               
        </div>
        <div class="responsable-info">
          <h3 title="Responsble"><i class="bi bi-person-circle me-1 tamaño-iconos color-iconoResponsable"></i>Responsable:</h3>
          <p> {{ obtenerNombreUsuario(usuarioEstrategica) }}</p>
        </div>
      </div>
      <div class="row text-center">
        <div class="d-flex justify-content-center">
          <button title="Agregar proyecto" type="button"
            class="btn btn-outline-success me-1 ms-5" [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['crearProyecto'] } }]"
            [queryParams]="{ idActividadEstrategica,actividadNombre }">
      Crear proyecto
          </button>
          <button title="Agregar actividad gestión" type="button"
          class="btn btn-outline-success" [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['crearActividad'] } }]"
          [queryParams]="{ idActividadEstrategica,actividadNombre }">
      Crear actividad de gestión
          </button>
        </div>
      </div>
    </div>
  </div>
  <ul class="nav nav-tabs header" id="myTab" role="tablist">
    <li class="header me-1">
      <button title="Volver"
        type="button" class="btn btn-success" 
        [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarTipoGE', patEstrategica] } }]">
        <i class="bi bi-arrow-return-left"></i>
      </button>
    </li>
    <li class="nav-item me-1">
      <a class="nav-link active" id="proyectos-tab" data-bs-toggle="tab" href="#proyectos" role="tab" aria-controls="proyectos" aria-selected="true">Proyectos</a>
    </li>
    <li class="nav-item me-1">
      <a class="nav-link" id="actividades-tab" data-bs-toggle="tab" href="#actividades" role="tab" aria-controls="actividades" aria-selected="false">Actividades de gestión</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="proyectos" role="tabpanel" aria-labelledby="proyectos-tab">
      <main class="main text-center smaller-main">
        <table class="table table-bordered table-hover">
          <thead class="table table-color">
            <tr>
              <th class="column-nombre" title="{{ NOMBRE_PROYECTO }}">Nombre</th>
              <th class="column-presupuesto" title="{{ PRESUPUESTO }}">Presupuesto</th>
              <th class="column-modalidad" title="{{ MODALIDAD }}">Modalidad</th>
              <th class="column-presupuesto" title="{{ VALOR_EJECUTADO }}">Valor Ejecutado</th>
              <th class="column-fecha" title="{{ FECHA_INICIAL_PROYECTO }}">Fecha inicial</th>
              <th class="column-fecha" title="{{ FECHA_FINAL_PROYECTO }}">&nbsp; Fecha &nbsp; Final</th>
              <th class="column-duracion" title="{{ DURACION }}">Duracion (Días)</th>
              <th class="column-avance" title="{{ AVANCE_REAL_PROYECTO }}">% Avance real</th>
              <th class="column-avance" title="{{ AVANCE_ESPERADO }}">% Avance esperado</th>
              <th class="column-avance" title="{{ CUMPLIMIENTO }}">% Cumplimiento</th>
              <th class="column-planeacion" title="{{ PLANEACION }}">Planeación Sprint</th>
              <th class="column-totalsprint" title="{{ TOTAL_SPRINT }}">Total sprint</th>
              <th class="column-acciones" title="{{ ACCIONES }}">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let proyecto of proyectos">
              <tr title="{{proyecto.nombre}}">
                <td [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarSprint', proyecto.idProyecto, 'pat', patNombre] } }]" class="fila-nombre">
                      {{ proyecto.nombre }}</td> 
                <td [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarSprint', proyecto.idProyecto, 'pat', patNombre] } }]">
                    {{ proyecto.presupuesto | currency : 'COP' :'symbol-narrow' : '1.0-0' }}</td>
                <td [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarSprint', proyecto.idProyecto, 'pat', patNombre] } }]">
                      {{ proyecto.modalidad  | formatEnum  }}</td>
                <td data-bs-toggle="modal" data-bs-target="#modalModificarValorEjecutado" (click)="obtenerProyecto(proyecto.idProyecto,proyecto)">
                      {{ proyecto.valorEjecutado | currency : '$ ' : 'symbol' : '1.0-0' }}</td>
                <td [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarSprint', proyecto.idProyecto, 'pat', patNombre] } }]">
                      {{ proyecto.fechaInicial }}</td>
                <td [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarSprint', proyecto.idProyecto, 'pat', patNombre] } }]"> 
                      {{ proyecto.fechaFinal }}</td>
                <td [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarSprint', proyecto.idProyecto, 'pat', patNombre] } }]">
                      {{ proyecto.duracion }}</td>
                <td [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarSprint', proyecto.idProyecto, 'pat', patNombre] } }]" 
                      >{{ proyecto.porcentajeReal  | comasPipe }} %</td>
                <td [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarSprint', proyecto.idProyecto, 'pat', patNombre] } }]" 
                      >{{ proyecto.porcentajeEsperado | comasPipe }} %</td> 
                <td [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarSprint', proyecto.idProyecto, 'pat', patNombre] } }]" 
                      [ngClass]="colorPorcentajeDependiendoFechaInicial(proyecto.porcentajeCumplimiento,proyecto.fechaInicial)">{{ proyecto.porcentajeCumplimiento | comasPipe }} %</td>     
                <td [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarSprint', proyecto.idProyecto, 'pat', patNombre] } }]">
                      {{ proyecto.planeacionSprint | formatEnum }}</td>
                <td [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarSprint', proyecto.idProyecto, 'pat', patNombre] } }]">
                      {{ proyecto.totalSprint }}</td>
                <td>
                  <button title="Modificar" type="button" class="btn btn-outline-secondary me-1 mb-1" data-bs-toggle="modal" data-bs-target="#modalModificarProyecto" 
                  (click)="obtenerProyecto(proyecto.idProyecto,proyecto)" *ngIf="esAdmin || esDirector || esOperadorEditor">
                      <i class="bi bi-pen-fill"></i>
                  </button>
                  <button title="Eliminar" class="btn btn-outline-danger me-1 mb-1" (click)="eliminarProyecto(proyecto.idProyecto)" *ngIf="esAdmin || esDirector"
                  ><i class="bi bi-trash3-fill"></i></button>
                  <button title="Agregar documento" class="btn btn-outline-secondary me-1 mb-1" data-bs-toggle="modal" data-bs-target="#agregarDocumentoProyecto"
                  (click)="abrirModalAgregarDocumento(proyecto.idProyecto,'PROYECTO')" *ngIf="esAdmin || esOperador || esDirector || esOperadorEditor"
                      ><i class="bi bi-folder-plus"></i>
                    </button>
                  <button title="Ver documento"  class="btn btn-outline-primary me-1 mb-1" data-bs-toggle="modal" data-bs-target="#modalVerDocumentos" 
                  (click)="obtenerDocumento(proyecto.idProyecto,'PROYECTO')">            
                    <i class="bi bi-file-earmark-check"></i></button>
                  <button title="Agregar Observación" class="btn btn-outline-success me-1 mb-1" data-bs-toggle="modal" data-bs-target="#modalAgregarObservacion" 
                  (click)="obtenerProyecto(proyecto.idProyecto,proyecto)" *ngIf="esAdmin || esOperador || esDirector  || esOperadorEditor">
                    <i class="bi bi-node-plus-fill"></i>
                  </button>
                  <button title="Ver observación" class="btn btn-outline-dark me-1 mb-1" data-bs-toggle="modal" data-bs-target="#modalVerObservacion" (click)="cargarObservaciones(proyecto.idProyecto,'PROYECTO')">
                    <i class="bi bi-eye-fill"></i>
                  </button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </main>
    </div>
    <div class="tab-pane fade" id="actividades" role="tabpanel" aria-labelledby="actividades-tab">
      <main class="main text-center smaller-main">
        <!-- Iterar sobre las gestiones -->
        <div *ngFor="let gestion of gestiones">
          <div class="card mb-2">
            <div class="card-header" role="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse-' + gestion.idActividadGestionEstrategica" (click)="cargarTareas(gestion.idActividadGestionEstrategica,'ACTIVIDAD_GESTION_ACTIVIDAD_ESTRATEGICA')">
              <h5 class="nombre-gestion" >{{ gestion.nombre }}</h5>
              <div class="card-body">
                <div class="row justify-content-center" title="{{gestion.nombre}}">
                  <div class="col-md-1" title="{{ FECHA_INICIAL_ACTIVIDAD_GESTION }}">
                    <h6>Fecha Inicial</h6>
                    {{ gestion.fechaInicial }}
                  </div>
                  <div class="col-md-1" title="{{ FECHA_FINAL_ACTIVIDAD_GESTION }}">
                    <h6>Fecha Final</h6>
                    {{ gestion.fechaFinal }}
                  </div>
                  <div class="col-md-1" title="{{ DURACION }}">
                    <h6>Duración</h6> 
                    {{ gestion.duracion }}
                  </div>
                  <div class="col-md-1" [ngClass]="colorPorcentaje(gestion.porcentajeReal)" title="{{ DIAS_RESTANTES }}">
                    <span *ngIf="gestion.porcentajeReal !== 100" [ngClass]="colorDias(gestion.diasRestantes)">
                      <h6>Dias restantes</h6>
                      {{ gestion.diasRestantes }}
                      
                    </span>
                    <span *ngIf="gestion.porcentajeReal === 100">Finalizado</span>
                  </div>
                  <div class="col-md-1" title="{{ AVANCE_REAL_ACTIVIDAD_GESTION }}">
                    <h6>% Avance real</h6>
                    {{ gestion.porcentajeReal | comasPipe }} %
                  </div>
                  <div class="col-md-1" title="{{ AVANCE_ESPERADO }}">
                    <h6>% Avance esperado</h6>
                    {{ gestion.porcentajeEsperado | comasPipe }} %
                  </div>
                  <div class="col-md-2" [ngClass]="colorPorcentajeDependiendoFechaInicial(gestion.porcentajeCumplimiento,gestion.fechaInicial)" title="{{ CUMPLIMIENTO }}">
                    <h6>% Cumplimiento</h6>
                    {{ gestion.porcentajeCumplimiento | comasPipe }} %
                  </div>
                  <div class="col-md-2" title="{{ RESPONSABLE_ACTIVIDAD_GESTION }}">
                    <h6>Usuario</h6>
                    {{ obtenerNombreUsuario(gestion.idUsuario) }}
                  </div>
                  <div class="col-md-2">
                    <button title="Modificar" type="button" class="btn btn-outline-secondary me-1 mb-1" data-bs-toggle="modal" data-bs-target="#modalModificarGestion" 
                    (click)="obtenerActividadGestionEstrategica(gestion.idActividadGestionEstrategica,gestion)" *ngIf="esAdmin || esDirector  || esOperadorEditor">
                      <i class="bi bi-pen-fill"></i>
                    </button>
                  <button title="Eliminar" class="btn btn-outline-danger me-1 mb-1" (click)="eliminarGestion(gestion.idActividadGestionEstrategica)" *ngIf="esAdmin || esDirector"
                  ><i class="bi bi-trash3-fill"></i></button>
                  <button title="Agregar documento" class="btn btn-outline-secondary me-1 mb-1" data-bs-toggle="modal" data-bs-target="#agregarDocumento"
                  (click)="abrirModalAgregarDocumento(gestion.idActividadGestionEstrategica,'ACTIVIDAD_GESTION_ACTIVIDAD_ESTRATEGICA')" *ngIf="esAdmin || esOperador || esDirector  || esOperadorEditor"
                      ><i class="bi bi-folder-plus"></i>
                    </button>
                  <button title="Ver documento"  class="btn btn-outline-primary me-1 mb-1" data-bs-toggle="modal" data-bs-target="#modalVerDocumentos" 
                  (click)="obtenerDocumento(gestion.idActividadGestionEstrategica,'ACTIVIDAD_GESTION_ACTIVIDAD_ESTRATEGICA')">            
                    <i class="bi bi-file-earmark-check"></i></button>
                  <button title="Agregar Observación" class="btn btn-outline-success me-1 mb-1" data-bs-toggle="modal" data-bs-target="#modalAgregarObservacion" 
                  (click)="obtenerActividadGestionEstrategica(gestion.idActividadGestionEstrategica ,gestion)" *ngIf="esAdmin || esOperador || esDirector  || esOperadorEditor">
                      <i class="bi bi-node-plus-fill"></i>
                  </button>
                  <button title="Ver observación" class="btn btn-outline-dark me-1 mb-1" data-bs-toggle="modal" data-bs-target="#modalVerObservacion" (click)="cargarObservaciones(gestion.idActividadGestionEstrategica,'ACTIVIDAD_GESTION_ACTIVIDAD_ESTRATEGICA')">
                      <i class="bi bi-eye-fill"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
            <div [id]="'collapse-' + gestion.idActividadGestionEstrategica" class="collapse">
              <div class="card-body" >
                <!-- Detalles de la gestión... -->
      
                <!-- Iterar sobre las tareas relacionadas con la gestión actual -->
                <table class="table table-sm">
                  <thead class="table-active">
                    <tr>
                      <th class="column-nombreTarea" title="{{ NOMBRE_TAREA }}">Nombre</th>
                      <th class="column-periodicidad" title="{{ PERIODICIDAD }}">Periodicidad</th>
                      <th>
                        <div class="d-flex flex-column" title="{{ ESTADO }}">
                          <span>Estado</span>
                          <div class="d-flex">
                            <div class="col">
                              <span class="estado-text en-backlog">EN BACKLOG</span>
                            </div>
                            <div class="col">
                              <span class="estado-text en-proceso">EN PROCESO</span>
                            </div>
                            <div class="col">
                              <span class="estado-text terminado">TERMINADO</span>
                            </div>
                            <div class="col">
                              <span class="estado-text impedimento">IMPEDIMENTO</span>
                            </div>
                          </div>
                        </div>
                      </th>
                      <th class="column-porcentaje" title="{{ AVANCE_REAL_TAREA }}">Porcentaje</th>
                      <th class="column-descripcion" title="{{ DESCRIPCION }}">Descripción</th>
                      <th class="column-responsableTarea" title="{{ RESPONSABLE_TAREA }}">Responsable</th>
                      <th class="column-accionesTarea" title="{{ ACCIONES }}">Acciones </th>
                      <th class="column-crear"><button title="Crear" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCreartarea" (click)="obtenerActividadGestionEstrategica(gestion.idActividadGestionEstrategica,gestion)"
                        ><i class="bi bi-plus-lg"></i></button></th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let tarea of tareas" >
                      <tr title="{{ tarea.nombre }}">
                        <td>{{ tarea.nombre }}</td>
                        <td >{{ tarea.periodicidad | formatEnum }}</td>
                        <td>
                          <div class="d-flex">
                            <div class="col en-backlog">
                              <input type="checkbox" name="estado" [ngModel]="isEstado(tarea.estado, 'EN_BACKLOG')" class="estado-checkbox form-check-input en-backlog" [disabled]="!isEstado(tarea.estado, 'EN_BACKLOG')">
                            </div>
                            <div class="col en-proceso">
                              <input type="checkbox" name="estado" [ngModel]="isEstado(tarea.estado, 'EN_PROCESO')" class="estado-checkbox form-check-input en-proceso" [disabled]="!isEstado(tarea.estado, 'EN_PROCESO')">
                            </div>
                            <div class="col terminado">
                              <input type="checkbox" name="estado" [ngModel]="isEstado(tarea.estado, 'TERMINADO')" class="estado-checkbox form-check-input terminado" [disabled]="!isEstado(tarea.estado, 'TERMINADO')">
                            </div>
                            <div class="col impedimento">
                              <input type="checkbox" name="estado" [ngModel]="isEstado(tarea.estado, 'IMPEDIMENTO')" class="estado-checkbox form-check-input impedimento" [disabled]="!isEstado(tarea.estado, 'IMPEDIMENTO')">
                            </div>
                          </div>
                        </td>                                   
                        <td data-bs-toggle="modal" (click)="obtenerTarea(tarea.idTarea, tarea)" [attr.data-bs-target]="(tarea.periodicidad !== 'UNICA_VEZ') ? '#modalModificarPorcentaje' : null">
                          {{ tarea.porcentajeReal }}%
                          <i class="bi bi-arrow-clockwise colorear-icono" [hidden]="tarea.periodicidad === 'UNICA_VEZ'"></i>
                        </td>
                        <td>{{ tarea.descripcion }}</td>
                        <td>{{ obtenerNombreUsuario(tarea.idUsuario) }}</td>
                        <td>
                          <button title="Modificar Tarea" class="btn btn-outline-secondary me-1 mb-1"  data-bs-toggle="modal" data-bs-target="#modalModificarTarea"
                          (click)="obtenerTareaAModificar(tarea.idTarea,tarea)" *ngIf="esAdmin || esOperador || esDirector || esOperadorEditor"><i class="bi bi-pencil-square"></i></button>
                          <button title="Modificar estado" class="btn btn-outline-secondary me-1 mb-1" data-bs-toggle="modal" data-bs-target="#modalModificarEstado" 
                          (click)="obtenerTarea(tarea.idTarea,tarea)" *ngIf="esAdmin || esOperador || esDirector || esOperadorEditor"
                          ><i class="bi bi-pen-fill"></i></button>
                          <button title="Eliminar" class="btn btn-outline-danger me-1 mb-1" (click)="eliminarTarea(tarea.idTarea, gestion.idActividadGestionEstrategica)" *ngIf="esAdmin || esDirector || esOperadorEditor"
                          ><i class="bi bi-trash3-fill"></i></button>
                          <button title="Agregar documento" class="btn btn-outline-secondary me-1 mb-1" data-bs-toggle="modal" data-bs-target="#agregarDocumentoTarea"
                            (click)="abrirModalAgregarDocumento(tarea.idTarea,'TAREA')" *ngIf="esAdmin || esOperador || esDirector || esOperadorEditor"
                                ><i class="bi bi-folder-plus"></i>
                              </button>
                            <button title="Ver documento" class="btn btn-outline-primary me-1 mb-1" data-bs-toggle="modal" data-bs-target="#modalVerDocumentos" 
                            (click)="obtenerDocumento(tarea.idTarea, 'TAREA')">            
                          <i class="bi bi-file-earmark-check"></i></button>
                          <button title="Agregar Observación" class="btn btn-outline-success me-1 mb-1" data-bs-toggle="modal" data-bs-target="#modalAgregarObservacion" 
                          (click)="obtenerTarea(tarea.idTarea,tarea)" *ngIf="esAdmin || esOperador || esDirector || esOperadorEditor"><i class="bi bi-node-plus-fill"></i></button>
                          <button title="Ver observación" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#modalVerObservacion" (click)="cargarObservaciones(tarea.idTarea,'TAREA')"><i class="bi bi-eye-fill"></i></button>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>  
  <div class="modal fade" id="agregarDocumento" tabindex="-1" aria-labelledby="modalAgregar" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAgregar">Agregar entrega</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3 d-flex">
              <label>Adjuntar documento</label>
              <div class="input-group" title="Click para cargar el archivo">
                  <label class="input-group-text" for="formFileMultiple">Cargar Archivo</label>
                  <input type="file" class="form-control campo-carga" id="formFileMultiple" accept=".pdf, .doc, .docx, .odt, .xls, .xlsx, .ppt, .pptx, .zip" style="display:none;" (change)="documento($event, idActividadGestionEstrategicaSeleccionado)">
                  <span id="nombreArchivoSeleccionado" class="ml-2">{{ nombreArchivoSeleccionado }}</span>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-success" (click)="subirDocumento($event,idActividadGestionEstrategicaSeleccionado,'actividadGestionEstrategica')" data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="agregarDocumentoProyecto" tabindex="-1" aria-labelledby="modalAgregar" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAgregar">Agregar entrega</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3 d-flex">
              <label>Adjuntar documento</label>
              <div class="input-group" title="Click para cargar el archivo">
                  <label class="input-group-text" for="formFileMultiple">Cargar Archivo</label>
                  <input type="file" class="form-control campo-carga" id="formFileMultiple" accept=".pdf, .doc, .docx, .odt, .xls, .xlsx, .ppt, .pptx, .zip" style="display:none;" (change)="documento($event, idProyectoSeleccionado)">
                  <span id="nombreArchivoSeleccionado" class="ml-2">{{ nombreArchivoSeleccionado }}</span>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-success" (click)="subirDocumento($event,idProyectoSeleccionado,'proyecto')" data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="agregarDocumentoTarea" tabindex="-1" aria-labelledby="modalAgregar" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAgregar">Agregar entrega</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3 d-flex">
              <label>Adjuntar documento</label>
              <div class="input-group" title="Click para cargar el archivo">
                  <label class="input-group-text" for="formFileMultiple">Cargar Archivo</label>
                  <input type="file" class="form-control campo-carga" id="formFileMultiple" accept=".pdf, .doc, .docx, .odt, .xls, .xlsx, .ppt, .pptx, .zip" style="display:none;" (change)="documento($event, idTareaSeleccionado)">
                  <span id="nombreArchivoSeleccionado" class="ml-2">{{ nombreArchivoSeleccionado }}</span>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-success" (click)="subirDocumento($event,idTareaSeleccionado,'tarea')" data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="modalModificarProyecto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modificar Proyecto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formProyecto" (ngSubmit)="modificarProyecto()">
            <div class="mb-3">
              <label class="form-label" for="nombre">Nombre</label>
              <textarea type="text" id="nombre" class="form-control form-control-lg" [value]="nombreProyecto" formControlName="nombre"></textarea>
          </div>
            <div class="mb-3">
              <label for="presupuesto" class="form-label">Presupuesto</label>
              <input type="number" class="form-control" id="presupuesto" formControlName="presupuesto" >
            </div>
            <div class="mb-3">
              <label for="fechaInicial" class="form-label">Fecha Inicial</label>
              <input type="date" class="form-control" id="fechaInicial" formControlName="fechaInicial" >
            </div>
            <div class="mb-3">
              <label for="fechaFinal" class="form-label">Fecha Final</label>
              <input type="date" class="form-control" id="fechaFinal" formControlName="fechaFinal" >
            </div>
            <div class="mb-3">
              <label for="modalidad" class="form-label">Modalidad</label>
              <select class="form-select" id="modalidad" formControlName="modalidad">
                <option *ngFor="let modalidad of modalidadEnumList" [value]=" (modalidad)">
                  {{ modalidad  | formatEnum  }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="planeacionSprint" class="form-label">Planeación</label>
              <select class="form-select" id="planeacionSprint" formControlName="planeacionSprint">
                <option *ngFor="let planeacion of planeacionEnumList" [value]="planeacion" >{{ planeacion  | formatEnum }}</option>
              </select>
            </div>
            <div class="form-floating mb-3">
              <select class="form-select" id="idUsuario" formControlName="idUsuario" >
                <option *ngFor="let usuario of usuarios" [value]="usuario.idUsuario">
                  {{ usuario.nombre + ' ' + usuario.apellidos }}
                </option>
              </select>
              <label for="idUsuario" class="form-label">Responsable</label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalModificarGestion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modificar actividad de gestión</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" (ngSubmit)="modificarActividadGestion()">
            <div class="form-floating mb-2">
              <input type="text" class="form-control" id="nombre" formControlName="nombre"  style="min-width: 100%;">
              <label for="nombre" class="form-label">Nombre</label>
            </div>
            <div class="form-floating mb-2">
              <input type="date" class="form-control" id="fechaInicial" formControlName="fechaInicial" >
              <label for="fechaInicial" class="form-label">Fecha Inicial</label>
            </div>
            <div class="form-floating mb-2">
              <input type="date" class="form-control" id="fechaFinal" formControlName="fechaFinal">
              <label for="fechaFinal" class="form-label">Fecha Final</label>
            </div>
            <div class="form-floating mb-3">
              <select class="form-select" id="idUsuario" formControlName="idUsuario">
                <option *ngFor="let usuario of usuarios" [value]="usuario.idUsuario">
                  {{ usuario.nombre + ' ' + usuario.apellidos }}
                </option>
              </select>
              <label for="idUsuario" class="form-label">Responsable</label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalVerObservacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-largo">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Observaciones</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body table-responsive">
          <table class="table">
            <thead class="table table-color">
                <th >Fecha</th>
                <th>Descripción</th>
                <th></th>
              </thead>
              <tbody>
                <ng-container *ngFor="let observacion of observaciones">
                  <tr>
                    <td>{{ observacion.fecha }}</td>
                    <td>{{ observacion.descripcion }} </td>
                    <td> 
                      <button title="Modificar" type="button" class="btn btn-secondary me-1 mb-1" data-bs-toggle="modal" data-bs-target="#modalModificarGestion" 
                       *ngIf="esAdmin || esOperador || esDirector || esOperadorEditor">
                      <i class="bi bi-pen-fill"></i>
                    </button>
                    <button title="Eliminar" class="btn btn-danger me-1 mb-1" 
                     *ngIf="esAdmin || esOperador || esDirector || esOperadorEditor"><i class="bi bi-trash3-fill" 
                    ></i></button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalVerDocumentos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Documentos adjuntos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered table-hover">
            <thead class="table-color">
              <tr>
                <th>Fecha de carga</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let documento of documentoObtenido">
                <tr>
                  <td>{{ documento.fecha }}</td> <!-- Fecha de carga del documento -->
                  <td class="nombre-documento"><a [href]="documento.rutaDocumento" target="_blank">{{ extraerNombreArchivo(documento.rutaDocumento) }}</a></td> <!-- Nombre del archivo -->
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalModificarPorcentaje" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Registrar avance</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formModificarPorcentaje" (ngSubmit)="modificarPorcentaje()">
            <div class="form-floating mb-2">
              <input type="number" id="porcentajeReal" class="form-control form-control-lg" formControlName="porcentajeReal" placeholder="Porcentaje (%)">
              <label for="porcentajeReal" class="form-label" >Porcentaje (%)<span class="required-field">*</span></label> 
            </div>
            <span class="text-center" >Recuerda que lo valores que puedes digitar van de 0 a 100</span>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalModificarValorEjecutado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Registrar valor ejecutado</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formModificarValorEjecutado" (ngSubmit)="modificarValorEjecutado()">
            <div class="form-floating mb-2">
              <input type="number" id="valorEjecutado" class="form-control form-control-lg" formControlName="valorEjecutado" placeholder="valorEjecutado">
              <label for="valorEjecutado" class="form-label" >Valor ejecutado<span class="required-field">*</span></label> 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalModificarTarea" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modificar tarea</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formModificarTarea" (ngSubmit)="modificarTarea()">
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" formControlName="nombre">
            </div>
            <div class="mb-3">
              <label for="periodicidad" placeholder="periodicidad">Periodicidad:</label>
              <select class="form-select" id="periodicidad" formControlName="periodicidad">
                  <option value="" disabled selected> Seleccione la periodicidad<span class="required-field">*</span></option>
                  <option *ngFor="let periodicidad of periodiciadEnumLista" [value]="periodicidad">{{ periodicidad | formatEnum  }}</option>
              </select>
          </div>
            <div class="mb-3">
              <label for="descripcion" class="form-label">Descripcion</label>
              <input type="text" class="form-control" id="descripcion" formControlName="descripcion" >
            </div>
            <div class="mb-3">
              <label for="idUsuario" placeholder="usuario">Responsable:</label>
              <select class="form-select" id="idUsuario" formControlName="idUsuario">
                  <option value="" disabled selected> Seleccione el usuario responsable<span class="required-field">*</span></option>
                  <option *ngFor="let usuario of usuarios" [value]="usuario.idUsuario">{{ usuario.nombre + ' ' + usuario.apellidos }}</option>
              </select>
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalModificarEstado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modificar estado de la tarea</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formModificarEstadoTarea" (ngSubmit)="modificarEstado()">
            <div class="mb-3 custom-input">
              <label for="nombre" class="form-label">{{ nombreTarea }}</label>
            </div>
            <div class="mb-3" [ngModel]="estadoTarea">
              <h6><i class="bi bi-info" data-toggle="popover" data-placement="top" data-content="Texto con información"></i> Estado: </h6>
              <div class="form-check form-check-inline en-backlog">
                <input class="form-check-input en-backlog" type="radio" name="estado" id="en-backlog" value="EN_BACKLOG" formControlName="estado" />
                <label class="form-check-label" for="en-backlog">EN BACKLOG</label>
              </div>
              <div class="form-check form-check-inline en-proceso">
                <input class="form-check-input en-proceso" type="radio" name="estado" id="en-proceso" value="EN_PROCESO" formControlName="estado" />
                <label class="form-check-label en-proceso" for="en-proceso ">EN PROCESO</label>
              </div>
              <div class="form-check form-check-inline terminado">
                <input class="form-check-input terminado" type="radio" name="estado" id="terminado" value="TERMINADO" formControlName="estado" />
                <label class="form-check-label" for="terminado">TERMINADO</label>
             </div>
              <div class="form-check form-check-inline impedimento">
                <input class="form-check-input impedimento" type="radio" name="estado" id="impedimento" value="IMPEDIMENTO" formControlName="estado" />
                <label class="form-check-label" for="impedimento">IMPEDIMENTO</label>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalCreartarea" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crear Tarea</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formTarea" (ngSubmit)="crearTarea()">
            <div class="form-floating mb-2">
              <input type="text" id="nombre" [class.is-invalid]="nombreVacio" class="form-control" formControlName="nombre" placeholder="Nombre">
              <label class="form-label" for="nombre">Nombre<span class="required-field">*</span></label>
              <small *ngIf="nombreVacio" class="text-danger">{{ CAMPO_OBLIGATORIO }}</small>
            </div>
            <div class="form-floating mb-2">
              <select class="form-select" id="periodicidad" [class.is-invalid]="periodicidadVacio" formControlName="periodicidad" >
                  <option value="" disabled selected>Seleccione la periodicidad:*</option>
                  <option *ngFor="let periodicidad of periodiciadEnumLista" [value]="periodicidad"  >{{ periodicidad | formatEnum}}</option>
              </select>
              <label for="periodicidad" placeholder="periodicidad">Periodicidad:<span class="required-field">*</span></label>
              <small *ngIf="periodicidadVacio" class="text-danger">{{ CAMPO_OBLIGATORIO }}</small>
            </div> 
            <div class="form-floating mb-2">
              <input type="text" id="descripcion" [class.is-invalid]="descripcionVacio" class="form-control" formControlName="descripcion" placeholder="descripcion">
              <label for="descripcion" class="form-label">Descripcion<span class="required-field">*</span></label>
              <small *ngIf="descripcionVacio" class="text-danger">{{ CAMPO_OBLIGATORIO }}</small>
            </div>
            <div class="form-floating mb-2">
              <select class="form-select" id="idUsuario" formControlName="idUsuario">
                  <option value="" disabled selected> Seleccione el usuario responsable<span class="required-field">*</span></option>
                  <option *ngFor="let usuario of usuarios" [value]="usuario.idUsuario">{{ usuario.nombre + ' ' + usuario.apellidos }}</option>
              </select>
              <label for="idUsuario" placeholder="usuario">Responsable:<span class="required-field">*</span></label>
              <small *ngIf="idUsuarioVacio" class="text-danger">{{ CAMPO_OBLIGATORIO }}</small>
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-success" [attr.data-bs-dismiss]="formTarea.valid ? 'modal' : null">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalAgregarObservacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Avances y Logros</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="tipoFormulario === 'PROYECTO' || 'ACTIVIDAD_GESTION_ACTIVIDAD_ESTRATEGICA' || 'TAREA' ? formObservacion : formObservacion" 
          (ngSubmit)="crearObservacion()">
          <ul>Registre el comentario de avance, en caso de estar incumpliendo, por favor justifique el retraso.</ul>
            <div class="form-floating">
              <input type="date" id="fecha" [class.is-invalid]="fechaVacio" class="form-control mb-2" formControlName="fecha" readonly>
              <label for="fecha"  class="form-label">Fecha</label>
              <small *ngIf="fechaVacio" class="text-danger">{{ CAMPO_OBLIGATORIO }}</small>
            </div>
            <div class="form-floating">
              <input type="text" id="descripcion" [class.is-invalid]="descripcionObservacionVacio" class="form-control form-control-lg" formControlName="descripcion"
               placeholder="Descripción">
              <label class="form-label" for="descripcion">Descripción<span class="required-field">*</span></label>
              <small *ngIf="descripcionObservacionVacio" class="text-danger">{{ CAMPO_OBLIGATORIO }}</small>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-success" [attr.data-bs-dismiss]="(tipoFormulario === 'ACTIVIDAD_GESTION_ACTIVIDAD_ESTRATEGICA' && formObservacion.valid) || 
              (tipoFormulario === 'PROYECTO' && formObservacion.valid) ||
              (tipoFormulario === 'TAREA' && formObservacion.valid) ? 'modal' : null">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.4/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  
</body>
</html>