<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="pat.listar.component.scss">
</head>
<body>
  <div class="ng-container">
    <div class="plan-cuadro">
      <p>{{ cantidadPats}}</p>
      <h2>Total Planes de trabajo</h2>
    </div>
  </div>
  
  <div class="cuadro-container">
    <div class="cuadro">
      <h2>Total actividades estratégicas</h2>
      <p>{{cantidadEstrategicas}}</p>
    </div>
    <div class="cuadro">
      <h2>Total proyectos</h2>
      <p>{{cantidadProyectos}}</p>
    </div>
    <div class="cuadro">
      <h2>Total actividades de gestión</h2>
      <p>{{cantidadGestiones + cantidadGestionesActividadEstrategica}}</p>
    </div>
  </div>

  <div class="subcuadro-container mb-2">
    <div class="subcuadro finalizado">
      <h2>Finalizadas</h2>
      <p>{{ sumadorActividadEstrategicasTerminados }}</p>
    </div>
    <div class="subcuadro abierto">
      <h2>Abiertos</h2>
      <p>{{ sumadorActividadEstrategicasAbiertos }}</p>
    </div>
    <div class="subcuadro finalizado">
      <h2>Finalizados</h2>
      <p>{{sumadorProyectosTerminados}}</p>
    </div>
    <div class="subcuadro abierto">
      <h2>Abiertos</h2>
      <p>{{sumadorProyectosAbiertos}}</p>
    </div>
    <div class="subcuadro finalizado">
      <h2>Finalizadas</h2>
      <p>{{sumadorActividadGestionTerminados}}</p>
    </div>
    <div class="subcuadro abierto">
      <h2>Abiertos</h2>
      <p>{{sumadorActividadGestionAbiertos}}</p>
    </div>
  </div>
  <div class="custom-button">
    <span class="input-group-text buscador">Buscar:</span>
    <input type="text" class="form-control me-1" [(ngModel)]="busqueda"/>
    <button title="Agregar"
      type="button" class="btn btn-success" [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['crearPat'] } }]">
      <i class="bi bi-plus-lg"></i>
    </button>
  </div>
  <main class="main text-center smaller-main">
    
    <table class="table table-hover">
      <thead class="table table-color">
        <tr>
          <th class="column-programa" title="{{ NOMBRE_PAT }}">Programa - PAT</th> 
          <th class="column-fecha" title="{{ FECHA_ANUAL }}">Año</th>
          <th class="column-direccion" title="{{ DIRECCION }}">Dirección</th>
          <th class="column-avance" title="{{ AVANCE_REAL_PAT }}">&nbsp;% &nbsp;Avance real</th>
          <th class="column-avance" title="{{ AVANCE_ESPERADO }}">&nbsp;&nbsp;%&nbsp;&nbsp;   Avance esperado</th>
          <th class="column-avance" title="{{ CUMPLIMIENTO }}">% Cumplimiento</th>
          <th class="column-avance" title="{{ AVANCE_PAT }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; PAT</th>
          <th class="column-usuario" title="{{ RESPONSABLE }}">Responsable</th>
          <th class="column-acciones" title="{{ ACCIONES }}">Acciones</th> 
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let pat of pats | buscar: busqueda">
          <tr title="{{pat.nombre}}" >
            <td [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarTipoGE', pat.idPat] } }]" >{{ pat.nombre }}</td>
            <td [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarTipoGE', pat.idPat] } }]">{{ pat.fechaAnual }}</td>
            <td [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarTipoGE', pat.idPat] } }]">{{ pat.direccion.nombre}}</td>
            <td [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarTipoGE', pat.idPat] } }]" >{{ pat.porcentajeReal | comasPipe }} %</td>
            <td [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarTipoGE', pat.idPat] } }]" >{{ pat.porcentajeEsperado| comasPipe }} %</td>            
            <td [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarTipoGE', pat.idPat] } }]" [ngClass]="colorPorcentaje(pat.porcentajeCumplimiento)">{{ pat.porcentajeCumplimiento | comasPipe }} %</td>
            <td [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarTipoGE', pat.idPat] } }]" [ngClass]="colorPorcentaje(pat.porcentajePat)">{{ pat.porcentajePat | comasPipe }} %</td>
            <td [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarTipoGE', pat.idPat] } }]">{{ obtenerNombreUsuario(pat.idUsuario) }} </td>
            <td>
              <button title="Editar" type="button" class="btn btn-outline-secondary me-1 mb-1" data-bs-toggle="modal" data-bs-target="#modalModificarPat"
               (click)="obtenerPat(pat.idPat,pat)" *ngIf="esAdmin || esDirector">
                <i class="bi bi-pen-fill"></i>
              </button>                  
              <button title="Eliminar" class="btn btn-outline-danger me-1 mb-1" 
                (click)="eliminarPat(pat.idPat)" *ngIf="esAdmin">
                <i class="bi bi-trash3-fill"></i>
              </button>
              <button title="Agregar Observación" class="btn btn-outline-success me-1 mb-1" data-bs-toggle="modal" data-bs-target="#modalAgregarObservacion" (click)="obtenerPat(pat.idPat,pat)">
                <i class="bi bi-node-plus-fill"></i>
              </button>
              <button title="Ver observación" class="btn btn-outline-dark me-1 mb-1" data-bs-toggle="modal" data-bs-target="#modalVerObservacion" (click)="cargarObservaciones(pat.idPat)">
                <i class="bi bi-eye-fill"></i>
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </main>
  
  <div class="modal fade" id="modalModificarPat" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modificar Plan Anual de trabajo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" (ngSubmit)="modificarPat()">
            <div class="form-floating mb-2">
              <input type="text" class="form-control" id="nombre" formControlName="nombre" [value]="nombrePatSeleccionado">
              <label for="nombre" class="form-label">Nombre</label>
            </div>
            <div class="form-floating mb-2">
              <input type="text" class="form-control" id="fechaAnual" formControlName="fechaAnual" [value]="fechaAnualSeleccionada">
              <label for="fechaAnual" class="form-label">Año</label>
            </div>
            <div class="form-floating mb-2">
              <select class="form-select" id="direccion" formControlName="direccion" [(value)]="direccionSeleccionada">
                <option *ngFor="let direccion of direcciones" [value]="direccion.nombre">
                  {{ direccion.nombre }}
                </option>
              </select>
              <label for="direccion" class="form-label">Direccion</label>
            </div>
            <div class="form-floating mb-3">
              <select class="form-select" id="idUsuario" formControlName="idUsuario" [(value)]="idUsuarioSeleccionado">
                <option *ngFor="let usuario of usuarios" [value]="usuario.idUsuario">
                  {{ usuario.nombre + ' ' + usuario.apellidos }}
                </option>
              </select>
              <label for="idUsuario" class="form-label">Responsable</label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalVerObservacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Observaciones</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered table-hover">
            <thead class="table table-color">
                <th>Fecha</th>
                <th>Nombre</th>
              </thead>
              <tbody>
                <ng-container *ngFor="let observacion of observaciones">
                  <tr>
                    <td>{{ observacion.fecha }}</td>
                    <td>{{ observacion.nombre }} </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalAgregarObservacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar observación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formObservacion" (ngSubmit)="crearObservacion()">
            <div class="form-floating">
              <input type="date" id="fecha" [class.is-invalid]="fechaVacio" class="form-control mb-2" formControlName="fecha" readonly>
              <label for="fecha"  class="form-label">Fecha</label>
              <small *ngIf="fechaVacio" class="text-danger">{{ CAMPO_OBLIGATORIO }}</small>
            </div>
            <div class="form-floating">
              <input type="text" id="nombre" [class.is-invalid]="nombreObservacionVacio" class="form-control form-control-lg" formControlName="nombre"
               placeholder="Nombre">
              <label class="form-label" for="nombre">Nombre<span class="required-field">*</span></label>
              <small *ngIf="nombreObservacionVacio" class="text-danger">{{ CAMPO_OBLIGATORIO }}</small>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-success" [attr.data-bs-dismiss]="formObservacion.valid ? 'modal' : null">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  
</body>
</html>