<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pat.listar.component.scss">
</head>
<body>
  <div class="row-with-button">
    <div>
      <h1 class="mb-2">Plan Anual de trabajo </h1>
    </div>
    <div class="text-center">
      <span>
        <button 
          type="button" class="btn btn-success" [routerLink]="['/panelUsuario', { outlets: { 'OutletUsuario': ['crearPat'] } }]">
          Crear Nuevo
        </button>
      </span>
    </div>
  </div>
    
  <main class="main text-center smaller-main">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Programa</th>
          <th>Año</th>
          <th>Proceso</th>
          <th>Porcentaje avance</th>
          <th>Responsable</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let pat of pats | buscar: busqueda">
          <tr>
            <td>{{ pat.nombre }}</td>
            <td>{{ pat.fechaAnual }}</td>
            <td>{{ pat.proceso | formatEnum }}</td>
            <td>{{ pat.porcentaje }}%</td>
            <td>{{ obtenerNombreUsuario(pat.idUsuario) }} </td>
            
            <td>
              <button class="btn btn-info custom-button me-1" 
              [routerLink]="['/panelUsuario', { outlets: { 'OutletUsuario': ['listarTipoGE,pat.idPat'] } }]"
              >Ver detalle</button>
              <button class="btn btn-danger custom-button me-1" (click)="eliminarPat(pat.idPat)">Eliminar</button>
              <button class="btn btn-primary custom-button">Modificar</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </main>
  
</body>
</html>