<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pat.listar.component.scss">
    <title>Lista de Areas</title>
</head>
<body>
    <h1 class="text-center mb-10 modal-title p-2 me-3 ">Plan Anual de trabajo 
        <span>
            <button [routerLink]="['/panelUsuario', { outlets: { 'OutletUsuario': ['crearPat'] } }]"
             type="button" class="btn btn-success" [routerLink]="['/panelUsuario', { outlets: { 'OutletUsuario': ['crearPat'] } }]">
                Crear Nuevo
            </button>
        </span>
    </h1>
    
    <main class="main text-center smaller-main">    
        <div *ngFor="let pat of pats | buscar: busqueda" class="container-sm">
            <div class="row align-items-center">
              <div class="col-4 text-center">
                <h2>{{ pat.nombre }}</h2>
              </div>
              <div class="col-2">
                <div class="widgets porcentajes">
                  <div class="contenedor d-flex">
                    <div class="caja">
                      <h3>{{ pat.porcentaje }}%</h3>
                      <p> Avance</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-5 text-center">
                <button class="btn btn-info mb-10 me-2 custom-button">Ver detalle</button>   
                <button class="btn btn-danger mb-10 me-2 custom-button" (click)="eliminarPat(pat.idPat)">Eliminar</button>
                <button class="btn btn-primary custom-button">Modificar</button>
              </div>
            </div>
          </div>
              

    </main>
</body>
</html>