.body{
    font-family: "Roboto";
  }

.buscador input{
    max-width: 100px;
    align-items: center;
}

h1 {
  font-family: "Roboto", unset;
  background-color: #555555c0;
  font-size: xx-large;
  color: #e7e5e5;
  padding: 10px;
  margin: 0;
  text-align: center;
}  
h2 {
  font-family: "Roboto", unset;
  color: #000000;
  font-size: x-large;
  padding: 5px;
  margin: 0;
  text-align: left;
}

.smaller-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;

    th, td {
      text-align: center; // Centra horizontalmente el texto
      vertical-align: middle; // Centra verticalmente el texto
    }

}

.column-proceso{
    max-width: 20%;
}
.column-direccion{
    max-width:  20%;
}

.table-color th{
    background-color: #bbbbbb;
  }
  td {
    cursor: pointer;
  }
  th{
    color: #161515c0;
  }
  .required-field {
    color: red
}
h6 {
  font-size: smaller;
}
.nota li {
  font-size: small;
}


.error-message {
  color: red;
}

