<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="usuario.listar.component.scss">
    <title>Usuarios</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <div class="text-center">
        <div class="buscador col-lg-2">Buscar:</div>
        <div class="col-lg-5">
            <input type="text" [(ngModel)]="busqueda"/>
        </div>
    </div>

    <div *ngFor="let usuario of usuarios | buscar: busqueda" class="container-sm">
        <ul class="list-group mt-2">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="mb-0 me-2">{{ usuario.nombre }} {{ usuario.apellidos }}</span>
                <span class="mb-0 me-2">{{ usuario.correo }}</span>

                <span>
                    <button class="btn btn-danger mb-10 me-2" (click)="eliminarUsuario(usuario.idUsuario)">Eliminar</button>
                    <button class="btn btn-primary">Modificar</button>
                </span>
            </li>
        </ul>
    </div>
</body>
</html>