
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" type="text/css" href="actividad.crear.component.scss">
</head>
<body>

<section class="gradient-form">
    <div >
        <div class="container">
            <div class="row ">
                <div class="col-xl-9">
                    <div class="card">
                        <h2 class="text-center">Crear actividad estratégica ó gestión del área</h2>
                        <div class="mb-3">
                            <h3>{{ actividadNombre }}</h3>
                        </div>
                        <form [formGroup]="form" (ngSubmit)="crearActividadOProyecto()">
                            <div class="form-floating mb-3">
                                <input type="text" id="nombre" [class.is-invalid]="nombreVacio" class="form-control form-control-lg" formControlName="nombre" placeholder="Nombre">
                                <label class="form-label" for="nombre">Nombre<span class="required-field">*</span></label>
                                <small *ngIf="nombreVacio" class="text-danger">Este campo es obligatorio*</small>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="date" id="fechaInicial" [class.is-invalid]="fechaInicialVacio" class="form-control form-control-lg" formControlName="fechaInicial" placeholder="Fecha Inicial" >
                                <label class="form-label" for="fechaInicial">Fecha Inicial<span class="required-field">*</span></label>
                                <small *ngIf="fechaInicialVacio" class="text-danger">Este campo es obligatorio*</small>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="date" id="fechaFinal" [class.is-invalid]="fechaFinalVacio" class="form-control form-control-lg" formControlName="fechaFinal" placeholder="Fecha Final">
                                <label class="form-label" for="fechaFinal">Fecha Final<span class="required-field">*</span></label>
                                <small *ngIf="fechaFinalVacio" class="text-danger">Este campo es obligatorio*</small>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-select" id="idUsuario" [class.is-invalid]="idUsuarioVacio" formControlName="idUsuario" >
                                    <option value="" disabled selected> Seleccione el usuario responsable<span class="required-field">*</span></option>
                                    <option *ngFor="let usuario of usuarios" [value]="usuario.idUsuario"  >{{ usuario.nombre  + ' ' + usuario.apellidos | formatEnum}}</option>
                                </select>
                                <label for="idUsuario" placeholder="usuario">Responsable:<span class="required-field">*</span></label>
                                <small *ngIf="idUsuarioVacio" class="text-danger">Este campo es obligatorio*</small>
                            </div> 
                        
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-secondary btn-block me-2"
                                    [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarActividad',idActividadEstrategica,'pat', actividadNombre] } }]"
                                > Atrás</button>
                                <button type="submit" class="btn btn-success btn-lg">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
