<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="area.listar.component.scss">
    <title>Lista de Areas</title>
</head>
<body>
    <h1>Lista de Areas</h1>
    <div *ngFor="let area of areas" class="container-sm">
        <ul class="list-group mt-2">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>{{ area.nombre }}</span>
                <span>
                    <button class="btn btn-danger mb-10 me-2">Eliminar</button>
                    <button class="btn btn-primary">Modificar</button>
                </span>
            </li>
        </ul>
    </div>
</body>
</html>