<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="area.listar.component.scss">
    <title>Areas</title>
</head>
<body>
    <h1 class="mb-2">Áreas</h1>
    <div class="d-flex align-items-end">
        <div class="flex-grow-1">
            <div class="input-group">
            <span class="input-group-text">Buscar:</span>
                <input type="text" class="form-control" [(ngModel)]="busqueda" />
            </div>
        </div>
        <div class="ms-1">
            <button [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['crearArea'] } }]"
                type="button" class="btn btn-success">
                Crear nueva área
            </button>
        </div>
    </div>
    <main class="main text-center smaller-main">
      <table class="table table-bordered">
        <thead class="table table-color">
              <tr>
                <th >Nombre </th>
                <th >Dirección</th>
                <th></th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let area of areas | buscar: busqueda">
                  <td>{{ area.nombre}}</td>
                  <td>{{ obtenerDireccion(area.idDireccion)}}</td>         
                  <td>
                    <button class="btn btn-outline-secondary me-1" data-bs-toggle="modal" data-bs-target="#modalModificarArea" (click)="areaSeleccionada(area.idArea,area)"
                    ><i class="bi bi-pen-fill"></i></button>
                    <button class="btn btn-outline-danger" (click)="eliminarArea(area.idArea)" ><i class="bi bi-trash3-fill"></i></button>
                  </td>
              </tr>
          </tbody>
          </table>
    </main>

    <div class="modal fade" id="modalModificarArea" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modificar área</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="form" (ngSubmit)="modificarArea()">
                <div class="mb-3">
                  <label for="nombre" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="nombre" formControlName="nombre" >
                </div>
                <div class="mb-3">
                  <label for="direccion" class="form-label">Dirección</label>
                  <select class="form-select" id="direccion" formControlName="direccion">
                    <option *ngFor="let direccion of direcciones" [value]="direccion.idDireccion"> {{ direccion.nombre }}
                    </option>
                  </select>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

</body>
</html>