<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="proyecto.pendiente.component.scss">
</head>
<body>
  <div class="row-with-button">
    <div class="row">
      <div >
        <h1 >Proyectos pendientes</h1>
      </div>
      <div class="row">
        <h3>Total PAT: {{ totalProyectosPendientes }} </h3>           
      </div>
      <div class="row">
        <h3>Total del área: {{ totalProyectosAreaPendientes }} </h3>           
      </div>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-md-1">
      <div class="custom-button">
        <h5>Busqueda por:&nbsp;</h5>
      </div>
    </div>
    <div class="col-md-3">
        <div class="custom-button d-flex align-items-center">
            <span>Nombre:&nbsp;</span>
            <input type="text" class="form-control me-1" [(ngModel)]="busqueda"/>
        </div>
    </div>
  </div>
  <ul class="nav nav-tabs header" id="myTab" role="tablist">
    <li class="nav-item me-1" title="Proyectos pendientes actividades estratégicas - PAT" >
      <a class="nav-link active" id="proyectosestrategicas-tab" data-bs-toggle="tab" href="#proyectosestrategicas" role="tab" aria-controls="proyectosestrategicas"
       aria-selected="true">Proyectos pendientes actividades Estratégicas - PAT</a>
    </li>    
    <li class="nav-item me-1" title="Proyectos pendientes del área">
      <a class="nav-link" id="proyecto-tab" data-bs-toggle="tab" href="#proyecto" role="tab" aria-controls="proyecto" aria-selected="false">Proyectos pendientes del área</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="proyectosestrategicas" role="tabpanel" aria-labelledby="proyectosestrategicas-tab">  
      <main class="main text-center smaller-main">
        <table class="table table-hover">
          <thead class="table-danger">
            <tr>
              <th>Programa - PAT</th>
              <th class="column-nombre">Nombre</th>
              <th class="column-presupuesto">Presupuesto</th>
              <th class="column-modalidad">Modalidad</th>
              <th class="column-presupuesto">Valor Ejecutado</th>
              <th class="column-fecha">Fecha inicial</th>
              <th class="column-fecha">Fecha final</th>
              <th >Duracion (Días)</th>
              <th class="column-avance">% avance real</th>
              <th class="column-avance">% avance esperado</th>
              <th class="column-avance">% cumplimiento</th>
              <th class="column-totalp">Planeación Sprint</th>
              <th >Total sprint</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let proyecto of proyectosPendientes">
              <tr title="{{proyecto.nombre}}">
                <td>{{ proyecto.nombrePat }}</td>
                <td>{{ proyecto.nombre }}</td>
                <td>{{ proyecto.presupuesto | currency : '$ ' : 'symbol' : '1.0-0' }}</td>
                <td>{{ proyecto.modalidad | formatEnum }}</td>
                <td>{{ proyecto.valorEjecutado | currency : '$ ' : 'symbol' : '1.0-0' }}</td>
                <td>{{ proyecto.fechaInicial }}</td>
                <td>{{ proyecto.fechaFinal }}</td>
                <td>{{ proyecto.duracion }}</td>
                <td >{{ proyecto.porcentajeReal | comasPipe  }} %</td>
                <td >{{ proyecto.porcentajeEsperado| comasPipe  }} %</td>
                <td [ngClass]="colorPorcentaje(proyecto.porcentajeCumplimiento)">{{ proyecto.porcentajeCumplimiento | comasPipe }} %</td>
                <td>{{ proyecto.planeacionSprint | formatEnum  }}</td>
                <td>{{ proyecto.totalSprint }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </main>
    </div>
    <div class="tab-pane fade" id="proyecto" role="tabpanel" aria-labelledby="proyecto-tab">
      <main class="main text-center smaller-main">
        <table class="table table-hover">
          <thead class="table-danger">
            <tr>
              <th>Programa - PAT</th>
              <th class="column-nombre" >Nombre</th>
              <th class="column-presupuesto" >Presupuesto</th>
              <th class="column-modalidad" >Modalidad</th>
              <th class="column-presupuesto" >Valor Ejecutado</th>
              <th class="column-fecha" >Fecha inicial</th>
              <th class="column-fecha">&nbsp; Fecha &nbsp; Final</th>
              <th class="column-duracion" >Duracion (Días)</th>
              <th class="column-avance" >% Avance real</th>
              <th class="column-avance" >% Avance esperado</th>
              <th class="column-avance" >% Cumplimiento</th>
              <th class="column-planeacion" >Planeación Sprint</th>
              <th class="column-totalsprint" >Total sprint</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let proyecto of proyectosAreaPendientes">
              <tr title="{{proyecto.nombre}}">
                <td>{{ proyecto.nombrePat }}</td>
                <td  class="fila-nombre">
                      {{ proyecto.nombre }}</td>
                <td >
                      {{ proyecto.presupuesto | currency : '$ ' : 'symbol' : '1.0-0' }}</td>
                <td >
                      {{ proyecto.modalidad  | formatEnum  }}</td>
                      <td data-bs-toggle="modal" data-bs-target="#modalModificarValorEjecutado" >
                        {{ proyecto.valorEjecutado | currency : '$ ' : 'symbol' : '1.0-0' }}</td>
                <td >
                      {{ proyecto.fechaInicial }}</td>
                <td > 
                      {{ proyecto.fechaFinal }}</td>
                <td >
                      {{ proyecto.duracion }}</td>
                <td  
                      >{{ proyecto.porcentajeReal  | comasPipe }} %</td>
                <td  
                      >{{ proyecto.porcentajeEsperado | comasPipe }} %</td> 
                <td  
                      >{{ proyecto.porcentajeCumplimiento | comasPipe }} %</td>     
                <td >
                      {{ proyecto.planeacionSprint | formatEnum }}</td>
                <td >
                      {{ proyecto.totalSprint }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </main>
    </div>
  </div>
  
</body>
</html>