<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="proyecto.pendiente.component.scss">
</head>
<body>
  <div class="row-with-button">
    <div>
      <h1 class="mb-2">Proyectos</h1>
    </div>
  </div>  
  <main class="main text-center smaller-main">
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th class="column-nombre">Nombre</th>
          <th class="column-presupuesto">Presupuesto</th>
          <th class="column-modalidad">Modalidad</th>
          <th class="column-presupuesto">Valor Ejecutado</th>
          <th class="column-fecha">Fecha inicial</th>
          <th class="column-fecha">Fecha final</th>
          <th >Duracion (Días)</th>
          <th >Avance</th>
          <th class="column-totalp">Planeación Sprint</th>
          <th >Total sprint</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let proyecto of proyectosPendientes">
          <tr title="{{proyecto.nombre}}">
            <td>{{ proyecto.nombre }}</td>
            <td>{{ proyecto.presupuesto | currency : '$ ' : 'symbol' : '1.0-0' }}</td>
            <td>{{ proyecto.modalidad }}</td>
            <td>{{ proyecto.valorEjecutado | currency : '$ ' : 'symbol' : '1.0-0' }}</td>
            <td>{{ proyecto.fechaInicial }}</td>
            <td>{{ proyecto.fechaFinal }}</td>
            <td>{{ proyecto.duracion }}</td>
            <td [ngClass]="colorPorcentaje(proyecto.avance)">{{ proyecto.avance }} %</td>
            <td>{{ proyecto.planeacionSprint }}</td>
            <td>{{ proyecto.totalSprint }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </main>

  
</body>
</html>