<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="sprint.listar.component.scss">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto+Slab&display=swap" rel="stylesheet">
    
</head>
<body>
  <div  class="row-with-button">
    <div>
      <div class="row">
      <div class="responsable-info">
        <h1 ><img src="/assets/Programas.png" width="30mp" alt="logo" id="logo" title="{{ patNombre }}"> {{ patNombre }} </h1>
      </div>
      <div class="responsable-info">
        <img src="/assets/proyectos.png" width="25mp" alt="logo" id="logo" title="{{ proyectoNombre }}"><h3>Proyecto:</h3>
        <p> {{ proyectoNombre }} </p> 
      </div> 
        <div class="responsable-info">
          <h3 title="Porcentaje Actual" ><i class="bi bi-percent me-1 tamaño-iconos color-iconoPorcentaje"></i>Porcentaje actual:</h3>
          <p [ngClass]="colorPorcentaje(proyectoPorcentaje)">{{ proyectoPorcentaje | number : '1.2-2' }} %</p>                                                               
        </div>
        <div class="responsable-info">
          <h3 title="Responsble"><i class="bi bi-person-circle me-1 tamaño-iconos color-iconoResponsable"></i>Responsable:</h3>
          <p> {{ obtenerNombreUsuario(proyectoUsuario).toLocaleUpperCase() }}</p>
        </div>
        <div class="responsable-info ">
          <h3 title="Total sprint"><i class="bi bi-skip-end-circle me-1 tamaño-iconos color-iconoTotal"></i>Total Sprint:</h3>
          <p> {{ totalSprint }}</p>
        </div>
        <div class="responsable-info">
          <h3 title="Tiempo de planeación"> <i class="bi bi-stopwatch me-1 tamaño-iconos color-iconoTiempo"></i>Tiempo Sprint:</h3>
          <p> {{ planeacionSprint }}</p>
        </div>
        <li class="header">
          <button title="Volver"
            type="button" class="btn btn-success mb-1" 
            [routerLink]="['/panelUsuario', { outlets: { 'OutletUsuario': ['listarActividad', actividad, 'pat', patNombre] } }]">
            <i class="bi bi-arrow-return-left"></i>
          </button>
          <button title="Agregar"
            type="button" class="btn btn-success" [routerLink]="['/panelUsuario', { outlets: { 'OutletUsuario': ['crearSprint'] } }]"
            [queryParams]="{ idProyecto , proyectoNombre, patNombre }">Añadir Sprint
              <i class="bi bi-plus-lg"></i>
            </button>
        </li>
      </div>
      
    </div>
    
  </div>  
    <main class="main text-center smaller-main">
      <!-- Iterar sobre las gestiones -->
      <div *ngFor="let sprint of sprints ; let i = index">
        <div class="card mb-2">
          <div class="card-header" role="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse-' + sprint.idSprint" (click)="cargarTareas(sprint.idSprint,'SPRINT')">
            <h5 class="mb-0" >{{ sprint.descripcion }}</h5>
            <div class="card-body" title="{{sprint.descripcion}}">
              <div class="row justify-content-center">
                <div class="col-md-1">
                  <h6>N°</h6>{{ i + 1 }}</div>
                <div class="col-md-2">
                  <h6>Fecha Inicial</h6>
                  {{ sprint.fechaInicial }}
                </div>
                <div class="col-md-2">
                  <h6>Fecha Final</h6>
                  {{ sprint.fechaFinal }}
                </div>
                <div class="col-md-2" [ngClass]="colorPorcentaje(sprint.avance)">
                  <h6>Avance</h6>
                  {{ sprint.avance }} %
                </div>
                
            </div>
          </div>
        </div>
        <div class="text-center">
          <button title="Modificar" type="button" class="btn btn-outline-secondary me-1" data-bs-toggle="modal" data-bs-target="#modificarSprint" (click)="obtenerSprint(sprint.idSprint,sprint)">
            <i class="bi bi-pen-fill"></i>
          </button>
          <button title="Eliminar" class="btn btn-outline-danger me-1" (click)="eliminarSprint(sprint.idSprint)"><i class="bi bi-trash3-fill"></i></button>
          <button title="Agregar documento" class="btn btn-outline-secondary me-1" data-bs-toggle="modal" data-bs-target="#agregarDocumento"
          (click)="abrirModalAgregarDocumento(sprint.idSprint)"
              ><i class="bi bi-folder-plus"></i>
            </button>
          <button title="Ver documento" class="btn btn-outline-primary me-1"><i class="bi bi-file-earmark-check"></i></button>
          
        </div> 
          <div [id]="'collapse-' + sprint.idSprint" class="collapse">
            <div class="card-body" >
              <!-- Detalles de la gestión... -->
    
              <!-- Iterar sobre las tareas relacionadas con la gestión actual -->
              <table class="table table-sm">
                <thead class="table-active">
                  <tr>
                    <th class="column-nombre">Nombre</th>
                    <th>
                      <div class="d-flex flex-column">
                        <span>Estado</span>
                        <div class="d-flex">
                          <div class="col">
                            <span class="estado-text en-backlog">EN BACKLOG</span>
                          </div>
                          <div class="col">
                            <span class="estado-text en-proceso">EN PROCESO</span>
                          </div>
                          <div class="col">
                            <span class="estado-text terminado">TERMINADO</span>
                          </div>
                          <div class="col">
                            <span class="estado-text impedimento">IMPEDIMENTO</span>
                          </div>
                        </div>
                      </div>
                    </th>
                    <th class="column-observacion">Observacion</th>
                    <th>Responsable</th>
                    <th class="mb-3">Acciones </th>
                      <th class="column-crear"><button title="Crear" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCreartarea" (click)="obtenerSprint(sprint.idSprint,sprint)"
                        ><i class="bi bi-plus-lg"></i></button></th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let tarea of tareas" >
                    <tr title="{{tarea.nombre}}">
                      <td>{{ tarea.nombre }}</td>
                      <td>
                        <div class="d-flex">
                          <div class="col en-backlog">
                            <input type="checkbox" name="estado" [ngModel]="isEstado(tarea.estado, 'EN_BACKLOG')" class="estado-checkbox form-check-input en-backlog" [disabled]="!isEstado(tarea.estado, 'EN_BACKLOG')">
                          </div>
                          <div class="col en-proceso">
                            <input type="checkbox" name="estado" [ngModel]="isEstado(tarea.estado, 'EN_PROCESO')" class="estado-checkbox form-check-input en-proceso" [disabled]="!isEstado(tarea.estado, 'EN_PROCESO')">
                          </div>
                          <div class="col terminado">
                            <input type="checkbox" name="estado" [ngModel]="isEstado(tarea.estado, 'TERMINADO')" class="estado-checkbox form-check-input terminado" [disabled]="!isEstado(tarea.estado, 'TERMINADO')">
                          </div>
                          <div class="col impedimento">
                            <input type="checkbox" name="estado" [ngModel]="isEstado(tarea.estado, 'IMPEDIMENTO')" class="estado-checkbox form-check-input impedimento" [disabled]="!isEstado(tarea.estado, 'IMPEDIMENTO')">
                          </div>
                        </div>
                      </td>
                      
                      
                      <td>{{ tarea.descripcion }}</td>
                      <td>{{ obtenerNombreUsuario(tarea.idUsuario).toLocaleUpperCase() }}</td>
                      <td>
                        <button title="Modificar" class="btn btn-outline-secondary me-1" data-bs-toggle="modal" data-bs-target="#modalModificarTarea" (click)="obtenerTarea(tarea.idTarea,tarea)"
                        ><i class="bi bi-pen-fill"></i></button>
                        <button title="Eliminar" class="btn btn-outline-danger me-1" (click)="eliminarTarea(tarea.idTarea)" (click)="obtenerSprint(sprint.idSprint,sprint)"><i class="bi bi-trash3-fill"></i></button>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>

    <div class="modal fade" id="agregarDocumento" tabindex="-1" aria-labelledby="modalAgregar" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="modalAgregar">Agregar entrega</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form>
                      <div class="mb-3">
                          <label for="formFileMultiple" class="form-label">Cargar</label>
                          <input type="file" (change)="documento($event,idSprintSeleccionado)">
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                          <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>

  <div class="modal fade" id="modificarSprint" tabindex="-1" aria-labelledby="modalSprint" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modificarSprint">Modificar sprint</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formSprint"  (ngSubmit)="modificarSprint()">
            <div class="mb-3">
              <label for="descripcion" class="form-label">Descripcion</label>
              <input type="text" class="form-control" id="descripcion" formControlName="descripcion" [value]="nombreSprint">
            </div>
            <div class="mb-3">
              <label for="fechaInicial" class="form-label">Fecha Inicial</label>
              <input type="date" class="form-control" id="fechaInicial" formControlName="fechaInicial">
            </div>
            <div class="mb-3">
              <label for="fechaFinal" class="form-label">Fecha Final</label>
              <input type="date" class="form-control" id="fechaFinal" formControlName="fechaFinal">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalModificarTarea" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modificar Tarea</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formTarea" (ngSubmit)="modificarTarea()">
            <div class="mb-3 custom-input">
              <label for="nombre" class="form-label">{{ nombreTarea }}</label>
            </div>
            <div class="mb-3" [ngModel]="estadoTarea">
              <h6><i class="bi bi-info" data-toggle="popover" data-placement="top" data-content="Texto con información"></i> Estado: </h6>
              <div class="form-check form-check-inline en-backlog">
                <input class="form-check-input en-backlog" type="radio" name="estado" id="en-backlog" value="EN_BACKLOG" formControlName="estado" />
                <label class="form-check-label" for="en-backlog">EN BACKLOG</label>
              </div>
              <div class="form-check form-check-inline en-proceso">
                <input class="form-check-input en-proceso" type="radio" name="estado" id="en-proceso" value="EN_PROCESO" formControlName="estado" />
                <label class="form-check-label" for="en-proceso ">EN PROCESO</label>
              </div>
              <div class="form-check form-check-inline terminado">
                <input class="form-check-input terminado" type="radio" name="estado" id="terminado" value="TERMINADO" formControlName="estado" />
                <label class="form-check-label" for="terminado">TERMINADO</label>
              </div>
              <div class="form-check form-check-inline impedimento">
                <input class="form-check-input impedimento" type="radio" name="estado" id="impedimento" value="IMPEDIMENTO" formControlName="estado" />
                <label class="form-check-label " for="impedimento">IMPEDIMENTO</label>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalCreartarea" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crear Tarea</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formCrearTarea" (ngSubmit)="crearTarea()">
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" formControlName="nombre">
            </div>
            <div class="mb-3">
              <label for="descripcion" class="form-label">Descripcion</label>
              <input type="text" class="form-control" id="descripcion" formControlName="descripcion">
            </div>
            <div class="mb-3">
              <label for="idUsuario" placeholder="usuario">Responsable:</label>
              <select class="form-select" id="idUsuario" formControlName="idUsuario">
                  <option *ngFor="let usuario of usuarios" [value]="usuario.idUsuario">{{ usuario.nombre + ' ' + usuario.apellidos | formatEnum }}</option>
              </select>
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.4/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  
  
</body>
</html>