.body{
  font-family: "Roboto",unset;
  color: #000000;
}

h1 {
  font-size: xx-large;
  margin: 0;
  text-align: left;
}

h3 {
  font-size: 15px;
  margin-bottom: 10px;
}
.responsable-info {
  display: flex;
  align-items: center;

  h1, h3, p {
    margin: 2px; // O ajusta según tus necesidades específicas
  }

  h3, p {
    margin: 3px; // O ajusta según tus necesidades específicas
  }
}
.row {
  display: flex; /* Hacer que los elementos dentro de .row se muestren en línea */
  align-items: center; /* Alinear verticalmente los elementos dentro de .row */
}

.header {
  justify-content: center;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}


/* Estilos para el elemento .smaller-main */
.smaller-main {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.button-container {
  text-align: right;
}

.custom-button {
  width: 100px;
  height: 35px;
  text-align: center;
}

.custom-eye {
  width: auto;
}



.nav-item {
  margin-top: 10px;
  text-align: center;
  width: 780px;
}

.nav-link {
  font-family: 'Roboto', initial;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

button {
  width: auto; /* Ancho automático, ajustado al contenido */
}
.porcentaje-bajo {
  color: red; // Define el color rojo para porcentajes bajos.
}
.porcentaje-medio {
  color: orange; // Define el color verde (u otro color de tu elección) para porcentajes normales.
}
.porcentaje-cien {
  color: green; // Define el color verde (u otro color de tu elección) para porcentajes normales.
}
.porcentaje-normal {
  color: rgb(172, 168, 168)
}
.column-nombre {
  width: 450px; /* Ajusta el ancho a tu preferencia */
}
.column-observacion {
  width: 300px; /* Ajusta el ancho a tu preferencia */
}
.column-estado {
  width: 600px; /* Ajusta el ancho a tu preferencia */
}
.column-crear {
  width: 10px; /* Ajusta el ancho a tu preferencia */
}
th,td {
  vertical-align: middle;
  text-align: center; /* Centra el texto horizontalmente en las celdas del encabezado */
}

.en-backlog .form-check-input {
  color: rgb(87, 97, 89); /* Color para "EN BACKLOG" */
  border-color: rgb(87, 97, 89);
}
.en-backlog .form-check-label {
  color: rgb(87, 97, 89); /* Color para "EN BACKLOG" */
}
.en-proceso .form-check-input {
  color: rgba(202, 139, 22, 0.925); /* Color para "EN PROCESO" */
  border-color:  rgba(202, 139, 22, 0.925); ;
}
.en-proceso .form-check-label {
  color: rgba(202, 139, 22, 0.925); /* Color para "EN PROCESO" */
}

.terminado .form-check-input {
  color: green; /* Color para "TERMINADO" */
  border-color: green; /* Color del borde del checkbox */
}
.terminado .form-check-label {
  color: green; /* Color para el texto "TERMINADO" si es necesario */
}

.impedimento .form-check-input  {
  color: rgb(206, 49, 49); /* Color para "IMPEDIMENTO" */
  border-color: rgb(206, 49, 49);
}
.impedimento .form-check-label  {
  color: rgb(206, 49, 49); /* Color para "IMPEDIMENTO" */
}


.form-check-input {
  border: 1px solid #525050;  // Establecer un borde por defecto para todos los checkboxes
}

.form-check-input.en-backlog:checked,
.form-check-input.en-proceso:checked,
.form-check-input.terminado:checked,
.form-check-input.impedimento:checked {
  color: #552a2a;
}
.form-check-input.en-backlog:checked {
  background-color: rgb(87, 97, 89);
  border-color: rgb(87, 97, 89);
}

.form-check-input.en-proceso:checked {
  background-color: rgba(202, 139, 22, 0.925);
  border-color: rgba(202, 139, 22, 0.925);
}

.form-check-input.terminado:checked {
  background-color: green;
  border-color: green;
}

.form-check-input.impedimento:checked {
  background-color: rgb(206, 49, 49);
  border-color:rgb(206, 49, 49);
}


.custom-file-button input[type=file] {
  margin-left: -2px !important;
}

.custom-file-button input[type=file]::-webkit-file-upload-button {
  display: none;
}

.custom-file-button input[type=file]::file-selector-button {
  display: none;
}

.custom-file-button:hover label {
  background-color: #dde0e3;
  cursor: pointer;
}

.bi-info {
  color: #007bff;
}

.bi-info:hover {
  color: #ff8c00;
}

.color-iconoPorcentaje,
.color-iconoFechaAnual,
.color-iconoResponsable,
.color-iconoTotal,
.color-iconoTiempo {
  font-size: large;
}
.color-iconoPorcentaje {
  color: rgba(114, 114, 109, 0.699)
} 
.color-iconoFechaAnual {
  color: rgb(101, 221, 171);
} 
.color-iconoResponsable {
  color: rgb(29, 75, 75)
}
.color-iconoTotal {
  color: rgb(33, 87, 56)
}
.color-iconoTiempo {
  color: rgb(37, 70, 70)
} 

/* En tu archivo de estilo */
.campo-carga {
  border: 1px solid #0d0d0e; /* Color y estilo del borde */
  border-radius: 5px; /* Radio de borde para esquinas redondeadas */
  padding: 8px; /* Espaciado interno para mejorar la apariencia */
  cursor: pointer;
}
