<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="cargo.listar.component.scss">
    <title>Cargos</title>
</head>
<body>
    <h1 class="mb-2">Cargos</h1>
    <div class="row mt-2">
        <div class="col-lg-4" >
            <div class="input-group">
                <span class="input-group-text buscador ms-5">Buscar:</span>
                <input type="text" class="form-control ms-2" [(ngModel)]="busqueda" />
            </div>
        </div>
        <div class="col-lg-4 mb-2 ms-5">
            <button [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['crearCargo'] } }]"
                type="button" class="btn btn-success">
                Crear nuevo Cargo
            </button>
        </div>
    </div>

    <div *ngFor="let cargo of cargos | buscar: busqueda" class="container">
        <ul class="list-group mt-1">
            <li class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                <span class="col-lg-4">{{ cargo.nombre }}</span>
                <span class="col-lg-4">{{ obtenerNombreArea(cargo.idArea) }}</span>
                    <span>
                        <button class="btn btn-outline-secondary me-1" data-bs-toggle="modal" data-bs-target="#modalModificarCargo" (click)="cargoSeleccionado(cargo.idCargo,cargo)"
                        ><i class="bi bi-pen-fill"></i></button>
                        <button class="btn btn-outline-danger" (click)="eliminarCargo(cargo.idCargo)" ><i class="bi bi-trash3-fill"></i></button>
                    </span>
                </div>
            </li>
        </ul>
    </div>

    <div class="modal fade" id="modalModificarCargo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modificar cargo</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="form" (ngSubmit)="modificarCargo()">
                <div class="mb-3">
                  <label for="nombre" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="nombre" formControlName="nombre" [value]="nombreCargoSeleccionado">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    
</body>
</html>