
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" type="text/css" href="crear.proyecto.component.scss">
</head>
<body>

<section class="gradient-form">
    <div >
        <div class="container">
            <div class="row ">
                <div class="col-xl-9">
                    <div class="card">
                        <h2 class="text-center">Crear proyecto</h2>
                        <div class="mb-3">
                            <h3>{{ actividadNombre }}</h3>
                        </div>
                        <form [formGroup]="form" (ngSubmit)="crearActividadOProyecto()">
                            <div class="form-floating mb-3">
                                <textarea type="text" id="nombre" [class.is-invalid]="nombreVacio" class="form-control form-control-lg" formControlName="nombre" placeholder="Nombre"></textarea>
                                <label class="form-label" for="nombre">Nombre<span class="required-field">*</span></label>
                                <small *ngIf="nombreVacio" class="text-danger">{{ ESTE_CAMPO_ES_OBLIGARORIO }}</small>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="date" id="fechaInicial" [class.is-invalid]="fechaInicialVacio" class="form-control form-control-lg" formControlName="fechaInicial" placeholder="Fecha Inicial">
                                <label class="form-label" for="fechaInicial">Fecha Inicial<span class="required-field">*</span></label>
                                <small *ngIf="fechaInicialVacio" class="text-danger">{{ ESTE_CAMPO_ES_OBLIGARORIO }}</small>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="date" id="fechaFinal" [class.is-invalid]="fechaFinalVacio" class="form-control form-control-lg" formControlName="fechaFinal" placeholder="Fecha Final">
                                <label class="form-label" for="fechaFinal">Fecha Final<span class="required-field">*</span></label>
                                <small *ngIf="fechaFinalVacio" class="text-danger">{{ ESTE_CAMPO_ES_OBLIGARORIO }}</small>
                            </div>                          
                            <div class="form-floating mb-3">
                                <input type="number" id="presupuesto" [class.is-invalid]="presupuestoVacio" class="form-control form-control-lg" formControlName="presupuesto" placeholder="presupuesto">
                                <label class="form-label" for="presupuesto">Presupuesto ($)<span class="required-field">*</span></label>
                                <small *ngIf="presupuestoVacio" class="text-danger">{{ ESTE_CAMPO_ES_OBLIGARORIO }}</small>
                            </div>
                            <div class="form-floating mb-2">
                                <select class="form-select" id="modalidad" [class.is-invalid]="modalidadVacio" formControlName="modalidad">
                                    <option value="" disabled selected>Seleccione la modalidad<span class="required-field">*</span></option>
                                    <option *ngFor="let modalidad of modalidadEnums" [value]="modalidad">{{ modalidad | formatEnum }}</option>
                                </select>
                                <label for="modalidad" class="form-label">Modalidad<span class="required-field">*</span></label>
                                <small *ngIf="modalidadVacio" class="text-danger">{{ ESTE_CAMPO_ES_OBLIGARORIO }}</small>
                            </div> 
                            <div class="form-floating mb-2">
                                <input type="number" id="valorEjecutado" [class.is-invalid]="valorEjecutadoVacio" class="form-control form-control-lg" formControlName="valorEjecutado" placeholder="Valor ejecutado ($)">
                                <label for="valorEjecutado" class="form-label" >Valor ejecutado ($)<span class="required-field">*</span></label> 
                                <small *ngIf="valorEjecutadoVacio" class="text-danger">{{ ESTE_CAMPO_ES_OBLIGARORIO }}</small>
                            </div>
                            <div class="mb-2" [class.is-invalid]="planeacionSprintVacio" >
                                <h5><i class="bi bi-info-circle tamaño-iconos color-iconoInfo" title="Texto con información"></i> Seguimiento Sprint: <span class="required-field">*</span></h5>
                                <h6 >Para proyectos igual a 1 mes el sprint es semanal, mayor a 1 mes y menor a 5 meses quincenal, mayor a 5 meses mensual.</h6>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="planeacionSprint" id="semanal" value="SEMANAL" formControlName="planeacionSprint" />
                                    <label class="form-check-label" for="semanal">SEMANAL</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="planeacionSprint" id="quincenal" value="QUINCENAL" formControlName="planeacionSprint" />
                                    <label class="form-check-label" for="quincenal">QUINCENAL</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="planeacionSprint" id="mensual" value="MENSUAL" formControlName="planeacionSprint" />
                                    <label class="form-check-label" for="mensual">MENSUAL</label>
                                </div>
                                <small *ngIf="planeacionSprintVacio" class="text-danger">{{ ESTE_CAMPO_ES_OBLIGARORIO }}</small>
                            </div>
                            
                            <div class="form-floating mb-3">
                                <select class="form-select" id="idUsuario" [class.is-invalid]="idUsuarioVacio" formControlName="idUsuario" >
                                    <option value="" disabled selected> Seleccione el usuario responsable<span class="required-field">*</span></option>
                                    <option *ngFor="let usuario of usuarios" [value]="usuario.idUsuario"  >{{ usuario.nombre  + ' ' + usuario.apellidos }}</option>
                                </select>
                                <label for="idUsuario" placeholder="usuario">Responsable:<span class="required-field">*</span></label>
                                <small *ngIf="idUsuarioVacio" class="text-danger">{{ ESTE_CAMPO_ES_OBLIGARORIO }}</small>
                            </div> 
                        
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-secondary btn-block me-2"
                                    [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarActividad',idActividadEstrategica,'pat', actividadNombre] } }]"
                                > Atrás</button>
                                <button type="submit" class="btn btn-success btn-lg">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
