.body{
  font-family: "Roboto";
}

h1 {
    font-family: "Roboto", unset;
    color: #000000;
    font-size: xx-large;
    padding: 5px;
    margin: 0;
    text-align: left;
}


h2 {
    font-family: "Roboto", initial;
    font-size: 15px;
    margin-bottom: 10px;
}
h3 {
  flex-grow: 1; /* Permitir que el texto "Epicas" ocupe el espacio restante */
  text-align: center; /* Alinea el texto al centro */
}

.row {
  display: flex; /* Hacer que los elementos dentro de .row se muestren en línea */
  align-items: center; /* Alinear verticalmente los elementos dentro de .row */
}

.responsable-info {
  display: flex; /* Hacer que los elementos dentro de .responsable-info se muestren en línea */
  align-items: center; /* Alinear verticalmente los elementos dentro de .responsable-info */
  margin-left: 10px; /* Agregar margen izquierdo entre los elementos si es necesario */
}

.responsable-info h2 {
  margin-right: 0; /* Agregar margen derecho entre "Responsable:" y el nombre del usuario si es necesario */
  margin: 2px;
}
.responsable-info p {
  margin-right: 0px; /* Agregar margen derecho entre "Responsable:" y el nombre del usuario si es necesario */
  margin: 2px;
}



/* Estilos para el elemento .smaller-main */
.smaller-main {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

/* Estilos para los botones */
.custom-button {
  width: 100px; /* Ancho en píxeles */
  height: 35px; /* Altura en píxeles */
  text-align: center;
}

/* Estilos para alinear los botones a la derecha en la tabla */
.button-container {
  text-align: right;
}

.header {
  display: flex;
  justify-content: space-between;
}
.nav-item {
  text-align: center;
  width: 740px; /* Ajusta el ancho deseado */
}
.nav {
  .nav-link {
    font-size: 16px; // Establece el tamaño de fuente deseado
    text-decoration: none; // Quita el subrayado de los enlaces
    color: rgb(21, 255, 0); // Cambia el color de texto a azul (puedes ajustarlo según tus preferencias)
  }
}

button {
  width: auto; /* Ancho automático, ajustado al contenido */
}

.custom-eye {
  width: auto;
}
.porcentaje-bajo {
  color: red; // Define el color rojo para porcentajes bajos.
}
.porcentaje-medio {
  color: orange; // Define el color verde (u otro color de tu elección) para porcentajes normales.
}
.porcentaje-cien {
  color: green; // Define el color verde (u otro color de tu elección) para porcentajes normales.
}
.porcentaje-normal {
  color: #504f4f;
}
.column-nombre {
  width: 500px; /* Ajusta el ancho a tu preferencia */
}
th,td {
  vertical-align: middle;
  text-align: center; /* Centra el texto horizontalmente en las celdas del encabezado */
}


