<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="tipoGE.listar.component.scss">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto+Slab&display=swap" rel="stylesheet">
    
</head>
<body>
  <div class="row-with-button mb-1">
    <div>
      <div class="row">
        <div class="responsable-info">
          <h1><img src="/assets/Programas.png" width="30mp" alt="logo" id="logo" title="{{ patNombre }}"> {{ patNombre }} </h1>
        </div>
        <div class="responsable-info">
          <h2 title="Porcentaje Actual" ><i class="bi bi-percent tamaño-iconos color-iconoPorcentaje"></i> Porcentaje de avance:</h2>
          <p [ngClass]="colorPorcentaje(porcentajePat)">{{ porcentajePat | number : '1.2-2' }} %</p>
        </div>
        <div class="responsable-info">
          <h2 title="Año"><i class="bi bi-calendar3 tamaño-iconos color-iconoFechaAnual"></i> Año:</h2>
          <p> {{ anual }}</p>
        </div>
        <div class="responsable-info">
          <h2 title="Responsble"><i class="bi bi-person-circle tamaño-iconos color-iconoResponsable"></i> Responsable:</h2>
          <p> {{ obtenerNombreUsuario(usuarioPat).toLocaleUpperCase() }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button title="Agregar actividad estratégica" type="button"
                  class="btn btn-outline-success me-1" [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['crearActividadEstrategica'] } }]"
                  [queryParams]="{ idPat,  patNombre }">
            Crear actividad estratégica
          </button>
          <button title="Agregar actividad gestión" type="button"
                  class="btn btn-outline-success" [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['crearActividadGestion'] } }]"
                  [queryParams]="{  idPat,  patNombre  }">
            Crear gestión del área
          </button>
        </div>
      </div>
    </div>
  </div>
  <ul class="nav nav-tabs header" id="myTab" role="tablist">
    <li class="header me-1">
      <button title="Volver"
        type="button" class="btn btn-success" 
        [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarPat'] } }]">
        <i class="bi bi-arrow-return-left"></i>
      </button>
    </li>
    <li class="nav-item me-1" title="Actividades estratégicas">
      <a class="nav-link active" id="actividadese-tab" data-bs-toggle="tab" href="#actividadese" role="tab" aria-controls="actividadese" aria-selected="true">Actividades Estratégicas</a>
    </li>
    <li class="nav-item me-1" title="Gestiones del área">
      <a class="nav-link" id="gestionarea-tab" data-bs-toggle="tab" href="#gestionarea" role="tab" aria-controls="gestionarea" aria-selected="false">Gestiones del área</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="actividadese" role="tabpanel" aria-labelledby="actividadese-tab">
      <main class="main text-center smaller-main">
        <table class="table table-bordered table-hover">
          <thead class="table table-color">
            <tr>
              <th class="column-nombre">Nombre</th>
              <th class="column-fecha">Fecha Inicial</th>
              <th class="column-fecha">Fecha Final</th>
              <th class="column-duracion">Duracion (Días)</th>
              <th class="column-dias">Dias Restantes</th>
              <th>Avance</th>
              <th class="column-responsable">Responsable</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let actividad of actividades">
              <tr title="{{actividad.nombre}}">
                <td [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarActividad', actividad.idActividadEstrategica,'pat', patNombre] } }]" class="fila-nombre">
                      {{ actividad.nombre }}</td>
                <td [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarActividad', actividad.idActividadEstrategica,'pat', patNombre] } }]">
                      {{ actividad.fechaInicial }}</td>
                <td [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarActividad', actividad.idActividadEstrategica,'pat', patNombre] } }]">
                      {{ actividad.fechaFinal }}</td>
                <td [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarActividad', actividad.idActividadEstrategica,'pat', patNombre] } }]">
                      {{ actividad.duracion }}</td>
                <td [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarActividad', actividad.idActividadEstrategica,'pat', patNombre] } }]" 
                      [ngClass]="colorPorcentaje(actividad.avance)">
                      <span *ngIf="actividad.avance !== 100"[ngClass]="colorDias(actividad.diasRestantes)">{{ actividad.diasRestantes }}</span>
                      <span *ngIf="actividad.avance === 100">Finalizado</span>
                </td>
                <td [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarActividad', actividad.idActividadEstrategica,'pat', patNombre] } }]" 
                      [ngClass]="colorPorcentaje(actividad.avance)">{{ actividad.avance }} %</td>
                <td [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarActividad', actividad.idActividadEstrategica,'pat', patNombre] } }]">
                      {{ obtenerNombreUsuario(actividad.idUsuario).toLocaleUpperCase() }}</td>
                <td >
                  <button title="Ver" class="btn btn-outline-primary me-1" 
                  [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarActividad', actividad.idActividadEstrategica,'pat', patNombre] } }]"
                    ><i class="bi bi-eye-fill"></i></button>
                    <button title="Modificar" type="button" class="btn btn-outline-secondary me-1" data-bs-toggle="modal" data-bs-target="#modalModificar" (click)="obtenerActividadEstrategica(actividad.idActividadEstrategica,actividad)">
                      <i class="bi bi-pen-fill"></i>
                    </button>
                  <button title="Eliminar" class="btn btn-outline-danger" (click)="eliminarActividadesEstrategica(actividad.idActividadEstrategica)"><i class="bi bi-trash3-fill"></i></button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </main>
    </div>
    <div class="tab-pane fade" id="gestionarea" role="tabpanel" aria-labelledby="gestionarea-tab">
      <main class="main text-center smaller-main">
        <!-- Iterar sobre las gestiones -->
        <div *ngFor="let gestion of gestiones">
          <div class="card mb-2">
            <div class="card-header" role="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse-' + gestion.idActividadGestion" (click)="cargarTareas(gestion.idActividadGestion,'ACTIVIDAD_GESTION')">
              <h5 class="mb-0" >{{ gestion.nombre }}</h5>
              <div class="card-body">
                <div class="row justify-content-center" title="{{gestion.nombre}}">
                  <div class="col-md-2">
                    <h6>Fecha Inicial</h6>
                    {{ gestion.fechaInicial }}
                  </div>
                  <div class="col-md-2">
                    <h6>Fecha Final</h6>
                    {{ gestion.fechaFinal }}
                  </div>
                  <div class="col-md-1">
                    <h6>Duración</h6>
                    {{ gestion.duracion }}    
                  </div>
                  <div class="col-md-1" [ngClass]="colorPorcentaje(gestion.avance)">
                    <span *ngIf="gestion.avance !== 100" [ngClass]="colorDias(gestion.diasRestantes)">
                      <h6>Dias restantes</h6>
                      {{ gestion.diasRestantes }}
                      
                    </span>
                    <span *ngIf="gestion.avance === 100">Finalizado</span>
                  </div>
                  <div class="col-md-1" [ngClass]="colorPorcentaje(gestion.avance)">
                    <h6>Avance</h6>
                    {{ gestion.avance }} %
                  </div>
                  <div class="col-md-3">
                    <h6>Usuario</h6>
                    {{ obtenerNombreUsuario(gestion.idUsuario).toLocaleUpperCase() }}
                  </div>
                  <div class="col-md-1">
                    <button title="Modificar" type="button" class="btn btn-outline-secondary me-1" data-bs-toggle="modal" data-bs-target="#modalModificarGestion" (click)="obtenerActividadGestion(gestion.idActividadGestion,gestion)">
                      <i class="bi bi-pen-fill"></i>
                    </button>
                  <button title="Eliminar" class="btn btn-outline-danger me-1" (click)="eliminarGestion(gestion.idActividadGestion)"><i class="bi bi-trash3-fill"></i></button>
                  </div>
                  
              </div>
            </div>
          </div>
            <div [id]="'collapse-' + gestion.idActividadGestion" class="collapse">
              <div class="card-body" >
                <table class="table table-sm">
                  <thead class="table-active">
                    <tr>
                      <th class="column-nombreTarea">Nombre</th>
                      <th class="column-periodicidad">Periodicidad</th>
                      <th>
                        <div class="column-estado">
                          <span>Estado</span>
                          <div class="d-flex">
                            <div class="col">
                              <span class="estado-text en-backlog">EN BACKLOG</span>
                            </div>
                            <div class="col">
                              <span class="estado-text en-proceso">EN PROCESO</span>
                            </div>
                            <div class="col">
                              <span class="form-check-label  terminado">TERMINADO</span>
                            </div>
                            <div class="col">
                              <span class="estado-text impedimento">IMPEDIMENTO</span>
                            </div>
                          </div>
                        </div>
                      </th>
                      <th class="column-porcentaje">Porcentaje</th>
                      <th class="column-descripcion">Descripción</th>
                      <th class="column-responsableTarea">Responsable</th>
                      <th class="column-accionesTarea">Acciones </th>
                      <th class="column-crear"><button title="Crear" class="btn btn-success me-1" data-bs-toggle="modal" data-bs-target="#modalCreartarea" (click)="obtenerActividadGestion(gestion.idActividadGestion,gestion)"
                        ><i class="bi bi-plus-lg"></i></button></th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let tarea of tareas" >
                      <tr title="{{ tarea.nombre }}">
                        <td >{{ tarea.nombre }}</td>
                        <td >{{ tarea.periodicidad | formatEnum }}</td>
                        <td>
                          <div class="d-flex">
                            <div class="col en-backlog">
                              <input type="checkbox" name="estado" [ngModel]="isEstado(tarea.estado, 'EN_BACKLOG')" class="estado-checkbox form-check-input en-backlog" [disabled]="!isEstado(tarea.estado, 'EN_BACKLOG')">
                            </div>
                            <div class="col en-proceso">
                              <input type="checkbox" name="estado" [ngModel]="isEstado(tarea.estado, 'EN_PROCESO')" class="estado-checkbox form-check-input en-proceso" [disabled]="!isEstado(tarea.estado, 'EN_PROCESO')">
                            </div>
                            <div class="col terminado">
                              <input type="checkbox" name="estado" [ngModel]="isEstado(tarea.estado, 'TERMINADO')" class="estado-checkbox form-check-input terminado" [disabled]="!isEstado(tarea.estado, 'TERMINADO')">
                            </div>
                            <div class="col impedimento">
                              <input type="checkbox" name="estado" [ngModel]="isEstado(tarea.estado, 'IMPEDIMENTO')" class="estado-checkbox form-check-input impedimento" [disabled]="!isEstado(tarea.estado, 'IMPEDIMENTO')">
                            </div>
                          </div>
                        </td>

                        <td  data-bs-toggle="modal" data-bs-target="#modalModificarPorcentaje">{{ tarea.porcentaje }}<i class="bi bi-arrow-clockwise"></i></td>
                        <td>{{ tarea.descripcion }}</td>
                        <td>{{ obtenerNombreUsuario(tarea.idUsuario).toLocaleUpperCase() }}</td>
                        <td>
                          <button title="Modificar Tarea" class="btn btn-outline-secondary me-1"  data-bs-toggle="modal" data-bs-target="#modalModificarTarea"(click)="obtenerTareaAModificar(tarea.idTarea,tarea)"><i class="bi bi-pencil-square"></i></button>
                          <button title="Modificar estado" class="btn btn-outline-secondary me-1" data-bs-toggle="modal" data-bs-target="#modalModificarEstado" (click)="obtenerTarea(tarea.idTarea,tarea)"
                          ><i class="bi bi-pen-fill"></i></button>
                          <button title="Eliminar" class="btn btn-outline-danger me-1" (click)="eliminarTarea(tarea.idTarea)" (click)="obtenerActividadGestion(gestion.idActividadGestion,gestion)"><i class="bi bi-trash3-fill"></i></button>
                          <button title="Agregar Observación" class="btn btn-outline-success me-1" data-bs-toggle="modal" data-bs-target="#modalAgregarObservacion" (click)="obtenerTarea(tarea.idTarea,tarea)"><i class="bi bi-node-plus-fill"></i></button>
                          <button title="Ver observación" class="btn btn-outline-dark" (click)="obtenerActividadGestion(gestion.idActividadGestion,gestion)"><i class="bi bi-eye-fill"></i></button>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div> 
   
  <div class="modal fade" id="modalModificar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modificar actividad estratégica</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formEstrategica" (ngSubmit)="modificarActividadEstrategica()">
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <textarea type="text" class="form-control" id="nombre" formControlName="nombre" [ngModel]="nombreActividadEstrategica" ></textarea>
            </div>
            <div class="mb-3">
              <label for="fechaInicial" class="form-label">Fecha Inicial</label>
              <input type="date" class="form-control" id="fechaInicial" formControlName="fechaInicial" [ngModel]="fechaInicialEstrategica">
            </div>  
            <div class="mb-3">
              <label for="fechaFinal" class="form-label">Fecha Final</label>
              <input type="date" class="form-control" id="fechaFinal" formControlName="fechaFinal" [ngModel]="fechaFinalEstrategica">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  
  <div class="modal fade" id="modalModificarGestion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modificar Gestion del Area</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formGestion" (ngSubmit)="modificarActividadGestion()">
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" formControlName="nombre" [ngModel]="nombreActividadGestion" style="min-width: 100%;">
            </div>
            <div class="mb-3">
              <label for="fechaInicial" class="form-label">Fecha Inicial</label>
              <input type="date" class="form-control" id="fechaInicial" formControlName="fechaInicial" [ngModel]="fechaInicialGestion">
            </div>
            <div class="mb-3">
              <label for="fechaFinal" class="form-label">Fecha Final</label>
              <input type="date" class="form-control" id="fechaFinal" formControlName="fechaFinal" [ngModel]="fechaFinalGestion">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalAgregarObservacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar observación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formGestion" (ngSubmit)="modificarActividadGestion()">
            <div class="mb-3">
              <label for="fechaInicial" class="form-label">Fecha Inicial</label>
              <input type="date" class="form-control" id="fechaInicial" formControlName="fechaInicial">
            </div>
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" formControlName="nombre">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalModificarPorcentaje" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Resgitrar avance</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formGestion" (ngSubmit)="modificarActividadGestion()">
            <div class="mb-3">
              <label for="porcentaje" class="form-label">Porcentaje</label>
              <input type="number" class="form-control" id="porcentaje" formControlName="porcentaje">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalModificarTarea" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modificar tarea</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formTarea" (ngSubmit)="modificarTarea()">
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" formControlName="nombre">
            </div>
            <div class="mb-3">
              <label for="periodicidad" placeholder="periodicidad">Periodicidad:</label>
              <select class="form-select" id="periodicidad" formControlName="periodicidad">
                  <option value="" disabled selected> Seleccione la periodicidad<span class="required-field">*</span></option>
                  <option *ngFor="let periodicidad of periodiciadEnumLista" [value]="periodicidad">{{ periodicidad }}</option>
              </select>
          </div>
            <div class="mb-3">
              <label for="descripcion" class="form-label">Descripcion</label>
              <input type="text" class="form-control" id="descripcion" formControlName="descripcion" >
            </div>
            <div class="mb-3">
              <label for="idUsuario" placeholder="usuario">Responsable:</label>
              <select class="form-select" id="idUsuario" formControlName="idUsuario">
                  <option value="" disabled selected> Seleccione el usuario responsable<span class="required-field">*</span></option>
                  <option *ngFor="let usuario of usuarios" [value]="usuario.idUsuario">{{ usuario.nombre + ' ' + usuario.apellidos | formatEnum }}</option>
              </select>
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalModificarEstado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modificar estado de la tarea</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formModificarEstadoTarea" (ngSubmit)="modificarEstado()">
            <div class="mb-3 custom-input">
              <label for="nombre" class="form-label">{{ nombreTarea }}</label>
            </div>
            <div class="mb-3" [ngModel]="estadoTarea">
              <h6><i class="bi bi-info" data-toggle="popover" data-placement="top" data-content="Texto con información"></i> Estado: </h6>
              <div class="form-check form-check-inline en-backlog">
                <input class="form-check-input en-backlog" type="radio" name="estado" id="en-backlog" value="EN_BACKLOG" formControlName="estado" />
                <label class="form-check-label" for="en-backlog">EN BACKLOG</label>
              </div>
              <div class="form-check form-check-inline en-proceso">
                <input class="form-check-input en-proceso" type="radio" name="estado" id="en-proceso" value="EN_PROCESO" formControlName="estado" />
                <label class="form-check-label en-proceso" for="en-proceso ">EN PROCESO</label>
              </div>
              <div class="form-check form-check-inline terminado">
                <input class="form-check-input terminado" type="radio" name="estado" id="terminado" value="TERMINADO" formControlName="estado" />
                <label class="form-check-label" for="terminado">TERMINADO</label>
             </div>
              <div class="form-check form-check-inline impedimento">
                <input class="form-check-input impedimento" type="radio" name="estado" id="impedimento" value="IMPEDIMENTO" formControlName="estado" />
                <label class="form-check-label" for="impedimento">IMPEDIMENTO</label>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalCreartarea" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crear Tarea</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formTarea" (ngSubmit)="crearTarea()">
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre<span class="required-field">*</span></label>
              <input type="text" class="form-control" id="nombre" formControlName="nombre">
            </div>
            <div class="mb-3">
              <label for="descripcion" class="form-label">Descripcion<span class="required-field">*</span></label>
              <input type="text" class="form-control" id="descripcion" formControlName="descripcion">
            </div>
            <div class="mb-3">
              <label for="idUsuario" placeholder="usuario">Responsable:<span class="required-field">*</span></label>
              <select class="form-select" id="idUsuario" formControlName="idUsuario">
                  <option value="" disabled selected> Seleccione el usuario responsable<span class="required-field">*</span></option>
                  <option *ngFor="let usuario of usuarios" [value]="usuario.idUsuario">{{ usuario.nombre + ' ' + usuario.apellidos | formatEnum }}</option>
              </select>
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.4/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>