<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="stylesheet" href="tipoGE.listar.component.scss">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto+Slab&display=swap" rel="stylesheet">
    
</head>
<body>
  <div  class="row-with-button">
    <div >
      <h1  class="mb-2"> {{ patNombre }} </h1>
    </div>
    <div class="text-center">
      <span>
        
      </span>
    </div>
  </div>  
  <main class="main text-center smaller-main">
    <div class="header">
      <button 
        type="button" class="btn btn-success" >
        Adicionar
      </button>

      <h3> Actividades Estratégicas</h3>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Fecha Inicial</th>
          <th>Fecha Final</th>
          <th>Duracion</th>
          <th>Dias Restantes</th>
          <th>Procentaje Avance</th>
          <th>Responsable</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let actividad of actividades | buscar: busqueda">
          <tr>
            <td>{{ actividad.nombre }}</td>
            <td>{{ actividad.fechaInicial }}</td>
            <td>{{ actividad.fechaFinal }}</td>
            <td>{{ actividad.duracion }}</td>
            <td>{{ actividad.diasRestantes }}</td>
            <td>{{ actividad.avance }} %</td>
            <td>{{ obtenerNombreUsuario(actividad.idUsuario).toLocaleUpperCase() }}</td>
            <td class="hacialaderecha">
              <button class="btn btn-info custom-button me-1" 
              [routerLink]="['/panelUsuario', { outlets: { 'OutletUsuario': ['listarActividad', actividad.idActividadEstrategica] } }]"
                >Ver</button>
              <button class="btn btn-primary custom-button me-1">Modificar</button>
              <button class="btn btn-danger custom-button me-1" (click)="eliminarActividadesEstrategica(actividad.idActividadEstrategica)">Eliminar</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div class="header">

    <button type="button" class="btn btn-success" data-bs-dismiss="modal" data-bs-target="#my-modal" aria-label="Close">
      Adicionar
    </button>     
 
      <h3>Gestión del área</h3>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Fecha Inicial</th>
          <th>Fecha Final</th>
          <th>Duracion</th>
          <th>Días Restantes</th>
          <th>Avance</th>
          <th>Responsable</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let gestion of gestiones | buscar: busqueda">
          <tr>
            <td>{{ gestion.nombre }}</td>
            <td>{{ gestion.fechaInicial }}</td>
            <td>{{ gestion.fechaFinal }}</td>
            <td>{{ gestion.duracion }}</td>
            <td>{{ gestion.diasRestantes }}</td>
            <td>{{ gestion.avance }} %</td>
            <td>{{ obtenerNombreUsuario(gestion.idUsuario).toLocaleUpperCase() }}</td>
            <td class="hacialaderecha">
              <button class="btn btn-info custom-button me-1"
                [routerLink]="['/panelUsuario', { outlets: { 'OutletUsuario': ['listarTarea', gestion.idActividadGestion] } }]"
                [queryParams]="{ idActividadGestion: gestion.idActividadGestion, tipoASE: 'ACTVIDAD_GESTION' }"
              >Ver</button>
              <button class="btn btn-primary custom-button me-1">Modificar</button>
              <button class="btn btn-danger custom-button me-1" (click)="eliminarGestion(gestion.idActividadGestion)">Eliminar</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.4/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

  
</body>
</html>