.gradient-custom-2 {
    /* fallback for old browsers */
    background: #19b648;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #0eb332, #199c2f, #14a350, #21991d);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right,#0eb332, #199c2f, #14a350, #21991d);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
    .info {background-color: #667b8b;} /* Blue */
    .info:hover {background: #6a9974;}