<section class="h-100 gradient-form" style="background-color: #ffffff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="/assets/logo.jpg" width="200mp" alt="logo" id="logo">
                  <h4 class="mt-1 mb-5 pb-1">Planeación estratégica CCOA</h4>
                </div>

                <form [formGroup]="form" (ngSubmit)="login()">
                  <div class="text-left mb-2" >
                    <p>Entrar directamente con el correo corporativo</p>
                      <asl-google-signin-button  size = "medium"  type="standard" shape="circle" >
                      </asl-google-signin-button>
                  </div>
                  <p class="text-center"> Ó</p>

                  <p>Ingrese su cuenta:</p>
                    <div class="form-outline mb-4">
                      <input type="email" id="correo" class="form-control"
                      formControlName="correo"  name="correo"
                        placeholder="Correo" />
                      <label class="form-label" for="correo">Correo</label>
                    </div>
                  <div class="form-outline mb-4">
                    <input type="password" id="password" class="form-control" 
                    formControlName="password" name="password"
                    placeholder="Contraseña" />
                    <label class="form-label" for="password">Contraseña</label>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-success btn-block fa-lg gradient-custom-2 mb-3" 
                      type="submit" [disabled]="!form.valid">Ingresar</button>
                    <h6 class="text-muted" href="#!">¿Olvidaste la contraseña?</h6>
                  </div>
                  

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">¿No tengo cuenta?</p>
                    <div id="liveAlertPlaceholder"></div>
                    <button class="btn info" onclick="alert('Por favor contactese con el administrador, dirigiendose a la mesa de ayuda para generar el Ticket');">
                       Crear
                    </button>
                  </div>

                </form> 

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <img src="/assets/logo.jpg" width="350mp" alt="logo" id="logo">
                <h4 class="mb-4"></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>