<section class="h-100 gradient-form" style="background-color: #ffffff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="/assets/logo.jpg" width="200mp" alt="logo" id="logo">
                  <h4 class="mt-1 mb-5 pb-1">Planeación estratégica CCOA</h4>
                </div>

                <form >
                  <div class="text-center mb-3" >
                    <p>Entrar con el correo corporativo:</p>            
                    <button type="button" class="btn btn-outline-secondary btn-floating mx-1">
                      <img src="/assets/google.avif" width="50mp" alt="logo" id="logo">
                    </button>
                  </div>

                  <p>Por favor, ingrese a su cuenta</p>
                    <div class="form-outline mb-4">
                      <input type="email" id="form2Example11" class="form-control"
                      [(ngModel)]="correo"
                        placeholder="Usuario o correo" />
                      <label class="form-label" for="form2Example11">Nombre usuario o correo</label>
                    </div>
                  <div class="form-outline mb-4">
                    <input type="password" id="form2Example22" class="form-control" 
                    [(ngModel)]="password"
                    placeholder="Contraseña" />
                    <label class="form-label" for="form2Example22">Contraseña</label>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-success btn-block fa-lg gradient-custom-2 mb-3" type="button"
                    (click)="login()">Ingresar</button>
                    <h6 class="text-muted" href="#!">¿Olvidaste la contraseña?</h6>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">¿No tengo cuenta?</p>
                    <button type="submit" class="btn btn-outline-success" href="/src/app/usuario/usuario.component.html">Crear</button>
                  </div>

                </form> 

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">CCOA</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>