<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="login.component.scss">
</head>
<body>
<section class="h-100 gradient-form" style="background-color: #ffffff;">
  <div class="container py-5 h-100" *ngIf="!loggedIn">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body mx-md-4 p-md-5">

                <div class="text-center mb-4">
                  <img src="/assets/logoactualizado.png" width="200mp" alt="logo" id="logo">
                </div>
                <div class="text-left mb-4 text-center" >
                  <p class="mb-2">Ingresar con el correo corporativo:</p>
                    <button title="Iniciar sesión con google" class="btn btn-light border border-secondary" (click)="loginGoogle()"><img src="/assets/google.png" width="30mp" alt="logo" id="logo"></button>
                </div>                 
                <form [formGroup]="form" (ngSubmit)="login()">
                  <p class="text-center mb-1">Ingresar con cuenta asignada:</p>
                    <div class="form-floating mb-1" title="Correo">
                      <input type="email" id="correo" class="form-control form-control-lg" formControlName="correo" placeholder="Correo">
                      <label class="form-label" for="correo">Correo</label>
                    </div>
                    <div class="form-floating mb-3" title="Contraseña">
                      <input type="password" id="password" class="form-control form-control-lg" formControlName="password" placeholder="Contraseña">
                      <label class="form-label" for="password">Contraseña</label>
                    </div>
                    <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha"></ngx-recaptcha2>
                    <div class="text-center pt-1 mb-4 pb-1">
                    <button class="btn btn-success btn-block fa-lg  mb-3" 
                      type="submit" [disabled]="!form.valid">Ingresar</button>
                    </div>
                </form> 
                <div class="text-center">
                  <div>
                  <p class="mb-1">¿No tengo cuenta?</p>
                  <button class="btn btn-secondary" title="Solicitar" (click)="solicitar()">
                    Solicitar
                  </button>
                </div>
                    
                  </div>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white text-center mx-md-4">
                  <h1 class="mb-3">Plan de trabajo anual</h1>
                  <p class="mb-5">Controla, administra y realiza la gestión de las actividades estratégicas, programas, proyectos y actividades del proceso. Conoce la trazabilidad, responsables y estado de avance</p>
                  <div class="d-flex justify-content-center">
                    <div class="me-5">
                      <img src="/assets/Programas.png" width="80mp" alt="logo" id="logo" title="Programas">
                      <h6>Programas</h6>
                    </div>
                    <div class="me-5">
                        <img src="/assets/proyectos.png" width="80mp" alt="logo" id="logo" title="Proyectos">
                        <h6>Proyectos</h6>
                    </div>
                    <div>
                      <img src="/assets/tareas de proceso.png" width="80mp" alt="logo" id="logo" title="Actividades de proceso">
                      <h6>Actividades</h6>
                    </div>
                  </div>
              </div>
          </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
