.body{
    font-family: "Roboto",serif;
}
  
h1 {
  font-family: "Roboto", unset;
  color: #000000;
  padding: 5px;
  margin: 0;
  text-align: left;
}
  
  
h2 {
  font-family: "Roboto", cursive;
}

h3 {
  flex-grow: 1; /* Permitir que el texto "Epicas" ocupe el espacio restante */
  text-align: center; /* Alinea el texto al centro */
}
  
  /* Estilos para el elemento .smaller-main */
.smaller-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh; /* Establece la altura deseada */
}

.header {
  display: flex;
  justify-content: space-between; /* Alinea los elementos al inicio y al final */
  align-items: center;
  width: 100%; /* Ocupa todo el ancho disponible */
}
  
  /* Estilo para los checkboxes */
input[type="checkbox"] {
  /* Aumentar el tamaño del checkbox */
  transform: scale(2);
}

th,td {
  vertical-align: middle;
  text-align: center; /* Centra el texto horizontalmente en las celdas del encabezado */
}

.column-nombre {
  width: 500px; 
  
}
.en-backlog {
  color: rgb(87, 97, 89); /* Color para "EN BACKLOG" */
}

.en-proceso {
  color: rgba(202, 139, 22, 0.925); /* Color para "EN PROCESO" */
}

.terminado {
  color: green; /* Color para "TERMINADO" */
}

.impedimento {
  color: rgb(206, 49, 49); /* Color para "IMPEDIMENTO" */
}

/* Estilo para los textos de estado */
.estado-text {
  font-size: 12px;
}
/* Aplicar estilos a las columnas de estado */
th {
  .estado-text, .estado-checkbox {
    display: block; /* Hace que los elementos se muestren en bloques (uno debajo del otro) */
    text-align: center; /* Centra el texto */
  }
}
  
  
  