<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="tarea.listar.component.scss">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto+Slab&display=swap" rel="stylesheet">
    
</head>
<body>
  <div  class="row-with-button">
    <div >
      <h1 class="mb-2" [ngClass]="obtenerNombre()">{{obtenerNombre()}}</h1>
    </div>
    <div class="text-center">
      <span>
        
      </span>
    </div>
  </div>  
  <main class="main text-center smaller-main">
    <div class="header mb-1">
      <button title="Atrás"
        type="button" class="btn btn-outline-dark me-1">
        <i class="bi bi-arrow-return-left"></i>
      </button>
      <h3> Tareas </h3>
      <button title="Agregar"
        type="button" class="btn btn-success" >
        <i class="bi bi-plus-lg"></i>
      </button>
    </div>
    <table class="table table-hover">
      <thead class="table-active">
        <tr>
          <th class="column-nombre">Nombre</th>
          <th>
            <div class="d-flex flex-column">
              <span>Estado</span>
              <div class="d-flex">
                <div class="col">
                  <span class="estado-text en-backlog">EN BACKLOG</span>
                </div>
                <div class="col">
                  <span class="estado-text en-proceso">EN PROCESO</span>
                </div>
                <div class="col">
                  <span class="estado-text terminado">TERMINADO</span>
                </div>
                <div class="col">
                  <span class="estado-text impedimento">IMPEDIMENTO</span>
                </div>
              </div>
            </div>
          </th>
          <th>Observacion</th>
          <th>Responsable</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let tarea of tareas | buscar: busqueda">
          <tr>
            <td>{{ tarea.nombre }}</td>
            <td>
              <div class="d-flex">
                <div class="col">
                  <input type="checkbox" name="estado" [ngModel]="isEstado(tarea.estado, 'EN_BACKLOG')" class="estado-checkbox" [disabled]="!isEstado(tarea.estado, 'EN_BACKLOG')">
                </div>
                <div class="col">
                  <input type="checkbox" name="estado" [ngModel]="isEstado(tarea.estado, 'EN_PROCESO')" class="estado-checkbox" [disabled]="!isEstado(tarea.estado, 'EN_PROCESO')">
                </div>
                <div class="col">
                  <input type="checkbox" name="estado" [ngModel]="isEstado(tarea.estado, 'TERMINADO')" class="estado-checkbox terminado" [disabled]="!isEstado(tarea.estado, 'TERMINADO')">
                </div>
                <div class="col">
                  <input type="checkbox" name="estado" [ngModel]="isEstado(tarea.estado, 'IMPEDIMENTO')" class="estado-checkbox" [disabled]="!isEstado(tarea.estado, 'IMPEDIMENTO')">
                </div>
              </div>
            </td>
            
            
            <td>{{ tarea.descripcion }}</td>
            <td>{{ obtenerNombreUsuario(tarea.idUsuario).toLocaleUpperCase() }}</td>
            <td>
              <button title="Ver" class="btn btn-outline-primary me-1" 
              ><i class="bi bi-eye-fill"></i></button>
              <button title="Modificar" class="btn btn-outline-secondary me-1" data-bs-toggle="modal" data-bs-target="#modalModificar" (click)="obtenerActividadGestion(tarea.idTarea,tarea)"
              ><i class="bi bi-pen-fill"></i></button>
              <button title="Eliminar" class="btn btn-outline-danger me-1" (click)="eliminar(tarea.idTarea)"><i class="bi bi-trash3-fill"></i></button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </main>

  <div class="modal fade" id="modalModificar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modificar Actividad estrategica</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" (ngSubmit)="modificarTarea()">
            <div class="mb-3 custom-input">
              <label for="nombre" class="form-label">{{obtenerNombre()}}</label>
            </div>
            <div class="mb-3">
              <label for="estado" class="form-label">Estado</label>
              <input type="text" class="form-control" id="estado" formControlName="estado">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.4/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

  
</body>
</html>