.body{
    font-family: "Roboto",serif;
  }
  
  h1 {
    background-color: #504f4f;
    color: #e7e5e5;
    padding: 5px;
    margin: 0;
    text-align: center;
  }
  
  
  h2 {
    font-family: "Roboto", cursive;
  }
  
  /* Estilos para el elemento .smaller-main */
  .smaller-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh; /* Establece la altura deseada */
  }
  
  .custom-button {
    color: #fff; /* Cambia #your-desired-color por el color que desees */
  }
  
  
  .registro-pat {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
  }
  
  /* Estilos para los botones */
  .custom-button {
    width: 100px; /* Ancho en píxeles */
    height: 35px; /* Altura en píxeles */
    text-align: center;
  }
  
  /* Estilos para alinear los botones a la derecha en la tabla */
  .button-container {
    text-align: right;
  }
  
  .hacialaderecha{
    text-align: right;
  }
  
  .header {
    display: flex;
    justify-content: space-between; /* Alinea los elementos al inicio y al final */
    align-items: center;
    width: 100%; /* Ocupa todo el ancho disponible */
  }
  
  button {
    width: auto; /* Ancho automático, ajustado al contenido */
  }
  h3 {
    flex-grow: 1; /* Permitir que el texto "Epicas" ocupe el espacio restante */
    text-align: center; /* Alinea el texto al centro */
  }

  /* Estilo para los checkboxes */
input[type="checkbox"] {
  /* Aumentar el tamaño del checkbox */
  transform: scale(2);
}

.estado-backlog input[type="checkbox"] {
  /* Estilos para el checkbox EN BACKLOG */
  background-color: blue; /* Cambia el color de fondo */
  border: 1px solid darkblue; /* Cambia el color del borde */
  /* Otros estilos personalizados que desees */
}

.estado-proceso input[type="checkbox"] {
  /* Estilos para el checkbox EN PROCESO */
  background-color: green; /* Cambia el color de fondo */
  border: 1px solid darkgreen; /* Cambia el color del borde */
  /* Otros estilos personalizados que desees */
}

.estado-terminado input[type="checkbox"] {
  /* Estilos para el checkbox TERMINADO */
  background-color: orange; /* Cambia el color de fondo */
  border: 1px solid darkorange; /* Cambia el color del borde */
  /* Otros estilos personalizados que desees */
}

.estado-impedimento input[type="checkbox"] {
  /* Estilos para el checkbox IMPEDIMENTO */
  background-color: red; /* Cambia el color de fondo */
  border: 1px solid darkred; /* Cambia el color del borde */
  /* Otros estilos personalizados que desees */
}

  
  
  