
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" type="text/css" href="actividad.crear.component.scss">
</head>
<body>

<section class="gradient-form">
    <div >
        <div class="container">
            <div class="row ">
                <div class="col-xl-9">
                    <div class="card">
                        <h2 class="text-center">Crear actividad estratégica ó gestión del área</h2>
                        <div class="mb-3">
                            <h3>{{ actividadNombre }}</h3>
                        </div>
                        <form [formGroup]="form" (ngSubmit)="crearActividadOProyecto()">
                            <div class="d-flex justify-content-center mb-3">
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" id="actividadEstrategica" class="form-check-input" (change)="toggleTipoActividad('gestion')" [checked]="tipoActividadGestionActividadEstrategica">
                                    <label class="form-check-label" for="actividadEstrategica">Actividad gestión del área</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" id="proyecto" class="form-check-input" (change)="toggleTipoActividad('proyecto')" [checked]="tipoProyecto">
                                    <label class="form-check-label" for="proyecto">Proyecto</label>
                                  </div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" id="nombre" class="form-control form-control-lg" formControlName="nombre" placeholder="Nombre"
                                [disabled]="!tipoActividadGestionActividadEstrategica && !tipoProyecto">
                                <label class="form-label" for="nombre">Nombre</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="date" id="fechaInicial" class="form-control form-control-lg" formControlName="fechaInicial" placeholder="Fecha Inicial" 
                                 [disabled]="!tipoActividadGestionActividadEstrategica && !tipoProyecto">
                                <label class="form-label" for="fechaInicial">Fecha Inicial</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="date" id="fechaFinal" class="form-control form-control-lg" formControlName="fechaFinal" placeholder="Fecha Final" 
                                [disabled]="!tipoActividadGestionActividadEstrategica && !tipoProyecto">
                                <label class="form-label" for="fechaFinal">Fecha Final</label>
                            </div>
                            <div *ngIf="tipoProyecto">
                                <div class="form-floating input-group mb-2" *ngIf="form.get('presupuesto')">
                                    <!-- Agrega aquí los campos adicionales que deseas mostrar para Proyecto -->
                                    <label class="form-label fixed-floating-label" for="presupuesto">Presupuesto ($):</label>
                                    <input type="number" id="presupuesto" class="form-control form-control-lg" placeholder="Presupuesto ($)" formControlName="presupuesto">
                                    <span class="input-group-text">$</span> 
                                </div>
                                  
                                <div class="form-floating mb-2" *ngIf="form.get('modalidad')">
                                    <!-- Agrega aquí los campos adicionales que deseas mostrar para Proyecto -->
                                    <input type="text" id="modalidad" class="form-control form-control-lg" placeholder="Modalidad" formControlName="modalidad" >
                                    <label class="form-label" for="modalidad">Modalidad</label>
                                </div>
                                <div class="form-floating input-group mb-2" *ngIf="form.get('valorEjecutado')">
                                    <!-- Agrega aquí los campos adicionales que deseas mostrar para Proyecto -->
                                    <label class="form-label" for="valorEjecutado">Valor ejecutado ($):</label>
                                    <input type="number" id="valorEjecutado" class="form-control form-control-lg" placeholder="Valor ejecutado ($)" formControlName="valorEjecutado">
                                    <span class="input-group-text">$</span>
                                </div>
                                <div class="mb-2" *ngIf="form.get('planeacionSprint')">
                                    <h6><i class="bi bi-info-circle tamaño-iconos color-iconoInfo" title="Texto con información"></i> Planeacion: </h6>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="planeacionSprint" id="semanal" value="SEMANAL" formControlName="planeacionSprint" />
                                      <label class="form-check-label" for="semanal">SEMANAL</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="planeacionSprint" id="quincenal" value="QUINCENAL" formControlName="planeacionSprint" />
                                      <label class="form-check-label" for="quincenal">QUINCENAL</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="planeacionSprint" id="mensual" value="MENSUAL" formControlName="planeacionSprint" />
                                      <label class="form-check-label" for="mensual">MENSUAL</label>
                                    </div>
                                  </div>
                              </div>
                            <div class="form-floating mb-3">
                                <select class="form-select" id="idUsuario" formControlName="idUsuario" >
                                    <option *ngFor="let usuario of usuarios" [value]="usuario.idUsuario"  >{{ usuario.nombre  + ' ' + usuario.apellidos | formatEnum}}</option>
                                </select>
                                <label for="idUsuario" placeholder="usuario">Responsable:</label>
                            </div> 
                        
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-secondary btn-block me-2"
                                    [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarActividad',idActividadEstrategica,'pat', actividadNombre] } }]"
                                > Atrás</button>
                                <button type="submit" class="btn btn-success btn-block btn-lg " [disabled]="!form.valid || (!tipoActividadGestionActividadEstrategica && !tipoProyecto)">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
