<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="proyecto.listar.component.scss">
</head>
<body>
  <div class="row-with-button">
    <div>
      <h1 class="mb-2">Proyecto</h1>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-md-1">
      <div class="custom-button">
        <h5>Busqueda por:&nbsp;</h5>
      </div>
    </div>
    <div class="col-md-3">
        <div class="custom-button d-flex align-items-center">
            <span>Nombre:&nbsp;</span>
            <input type="text" class="form-control me-1" [(ngModel)]="busqueda"/>
        </div>
    </div>
  </div>  
  <main class="main text-center smaller-main">
    <table class="table table-bordered table-hover">
      <thead class="table table-color">
        <tr>
          <th class="column-nombre">Nombre</th>
          <th class="column-presupuesto">Presupuesto</th>
          <th class="column-modalidad">Modalidad</th>
          <th class="column-presupuesto">Valor Ejecutado</th>
          <th class="column-fecha">Fecha inicial</th>
          <th class="column-fecha">Fecha final</th>
          <th >Duracion (Días)</th>
          <th class="column-avance">% avance real</th>
          <th class="column-avance">% avance esperado</th>
          <th class="column-avance">% cumplimiento</th>
          <th class="column-totalp">Planeación Sprint</th>
          <th >Total sprint</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let proyecto of proyectos">
          <tr title="{{proyecto.nombre}}">
            <td>{{ proyecto.nombre }}</td>
            <td>{{ proyecto.presupuesto | currency : '$ ' : 'symbol' : '1.0-0' }}</td>
            <td>{{ proyecto.modalidad | formatEnum }}</td>
            <td>{{ proyecto.valorEjecutado | currency : '$ ' : 'symbol' : '1.0-0' }}</td>
            <td>{{ proyecto.fechaInicial }}</td>
            <td>{{ proyecto.fechaFinal }}</td>
            <td>{{ proyecto.duracion }}</td>
            <td >{{ proyecto.porcentajeReal | comasPipe  }} %</td>
            <td >{{ proyecto.porcentajeEsperado| comasPipe  }} %</td>
            <td [ngClass]="colorPorcentaje(proyecto.porcentajeCumplimiento)">{{ proyecto.porcentajeCumplimiento | comasPipe }} %</td>
            <td>{{ proyecto.planeacionSprint | formatEnum  }}</td>
            <td>{{ proyecto.totalSprint }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </main>

  
</body>
</html>