.body{
  font-family: "Roboto";
}

h1 {
  font-family: "Roboto", sans-serif;  
  margin: 0;
  text-align: left;
}

h2 {
  font-size:x-large;

}
h3{
  font-size: large;
  color: #257236;
}
h5 {
  font-family: "Roboto", unset;
  font-size: 18px;
  margin-bottom: 1px;
}
  
/* Estilos para el elemento .smaller-main */
.smaller-main {
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 10px;

}

.custom-button {
display: flex;
align-items: center;
margin-bottom: 10px; // Ajusta según sea necesario
margin-top: auto; /* Empuja el botón hacia la parte inferior del conteneddor */
width: auto; /* Los botones ocuparán todo el ancho de su contenedor */
}

.header {
  justify-content: center;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin-top: 10px;
  text-align: center;
  flex:  1;
  background: rgba(170, 170, 170, 0.315);
  
  a:active, // Aplica el estilo cuando el enlace está activo
  a:focus {  // Aplica el estilo cuando el enlace está enfocado
    color: #000000;
  }
}
.nav-link {
  font-family: 'Roboto', initial;
  font-size: 20px;
  color: rgb(0, 0, 0);
}
.nav-tabs .nav-item:hover {
  background: rgba(156, 155, 155, 0.438);
}

.nav-tabs .nav-link:hover {
  color:rgb(0, 0, 0);
}

.table-color th{
  background-color: #bbbbbb;
}

.porcentaje-bajo {
  color: red; // Define el color rojo para porcentajes bajos.
}
.porcentaje-medio {
  color: orange; // Define el color verde (u otro color de tu elección) para porcentajes normales.
}
.porcentaje-cien {
  color: green; // Define el color verde (u otro color de tu elección) para porcentajes normales.
}
.porcentaje-normal {
  color: #504f4f;
}
.column-nombre {
  width: 500px; /* Ajusta el ancho a tu preferencia */
}
th,td {
  vertical-align: middle;
  text-align: center; /* Centra el texto horizontalmente en las celdas del encabezado */
}
.table-color th{
  background-color: #bbbbbb;
}
th{
  color: #161515c0;
}


