body{
    background: #ffffff;
    font-size: 16px;
    font-family: 'Open Sans',sans-serif;
}
/*---Barra Lateral--*/
.barra-lateral{
    background: #ebeeeb;
    color: #40a191;
    min-width: 300px;
    min-height: 100vh;
    padding: 0;
}
.barra-lateral a{
    color: #000000;
    text-align: center;
}
.barra-lateral h2{

    color: #000000;
    text-align: center;
    margin: 0 auto;
}
.barra-lateral .menu a{
    display: block;
    padding: 20px;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.barra-lateral .logo {
    display: flex;
    align-items: center;
    padding: 20px;
}
.barra-lateral .logo img {
    margin: 0 auto; 
}

.barra-lateral .menu a:hover{
    background: #a9d1a9;
}

.icon-home::before {
    font-size: 24px; /* Cambia el tamaño de los iconos a 24px */
}

.barra-lateral .menu a svg{
    margin-right: 20px;
    font-weight: normal;
    width: 20px;
}

.main .btn a span{
    margin-left: 20px;
    font-weight: normal;
    width: 20px;
}
.main {
    margin-top: 10px; /* Añade un espacio superior de 20 píxeles (ajusta el valor según tus necesidades) */
} 

/*---QUERIES--*/
@media screen and (max-width:1000px){
    .barra-lateral{
        min-width: auto;
    }  
    .barra-lateral .logo{
        display: none;
    }
    .barra-lateral h2{
        display: none;
    }
    .barra-lateral .menu a span{
        display: none;
    }
    .barra-lateral .menu a svg{
        margin:0;
    }
    .main{
        min-width: auto;
    }
    .main .btn{      
        width: auto; /* Ancho en píxeles o cualquier otra unidad de medida */
    }
    .main .btn a span{
        display: none;
    }
}

@media screen and (max-width:576px){
    .barra-lateral{
        min-height: auto;
    }
    .barra-lateral .menu a{
        display: inline-block;
        border-bottom: none;
    }
    .main{
        min-height: auto;
        flex-direction: column; /* Cambia la dirección de la flexbox a columna */
        align-items: flex-start; /* Alinea el botón a la izquierda */
    }
}




