.sidenav {
    display: flex;
    flex-direction: column;
    background: #07685a;
    transition: all .5s ease;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 5rem ;
    height: 100vh;

    .logo-container {
        display: flex;
        align-items: center;
        padding: 0.938rem 0.938rem 0 0.938rem;
        width: 100%;

        .logo {
            color: #07685a;
            background: #ffffff;
            text-align: center;
            width: 3rem;
            min-width: 3.6rem;
            border-radius: 0.313rem;
            padding: 0.313rem;
            font-size: 24px;
            font-weight: 900;
            cursor: pointer;
            border: none;
        }

        .logo-text {
            margin-left: 1rem;
            font-size: 22px;
            font-weight: 600;
            color: #fff;
        }
    }
    .logout-container {
        margin-top: auto;
        padding: 1rem;
        text-align: left;
        display: flex;
        align-items: center;

        button {
            background-color: #e25555ef; // Cambia el color de fondo a tu preferencia
            color: #fff; // Cambia el color del texto a tu preferencia
            border: none;
            padding: 0.5rem 0.8rem;
            border-radius: 0.313rem;
            cursor: pointer;
        }
    }
    .logout-container .username {
        font-size: 14px; /* Ajusta el tamaño de la fuente según sea necesario */
        color: #fff;
        margin-left: auto; /* Alinea el texto a la derecha */
    }
      
    .username {
        display: block;
    }
      
    .username.show {
        display: none;
    }
}

.sidenav-collapsed {
    width: 16rem;
}

.sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .sidenav-nav-item {
        width: 100%;
        margin-bottom: 0.625rem;

        .sidenav-nav-link {
            display: flex;
            align-items: center;
            height: 3rem;
            color: #f3f3f3;
            text-decoration: none;
            border-radius: 0.625rem;
            transition: all .3s ease;

            .sidenav-link-image {   
                font-size: 22px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
                filter: invert(100%); /* Invierte los colores */
            }

            .sidenav-link-text {
                margin-left: 1.5rem;
            }
            
        }
    }

    .sidenav-nav-item:hover {
        .sidenav-nav-link {
            background-color: #fff;
            color: #07685a;

            .sidenav-link-image {
                filter: invert(19%) sepia(19%) saturate(2183%) hue-rotate(149deg) brightness(90%) contrast(93%);
            }
        }
    }
}


.active {
    background-color: #fff;

    .sidenav-link-icon,
    .sidenav-link-text {
        color: #ffffff;
    }
}


  
.main {
    margin-left: 5rem;
    padding: 1rem;
}
.header {
    display: flex;
    justify-content: center; // Centra horizontalmente
    align-items: center; 
    margin-right: 5rem;
    border: 2px solid #ebeaea;
    background-color: #ebeaea;
}

.separator-line {
    border-top: 1px solid #ccc;
    margin: 1px 0;
    width: 100%; /* Ajusta el ancho según tus necesidades */
}


  
  
  @media (max-width: 1366px) {
    .logo-text img {
        width: 80px; /* Ajusta el tamaño del logotipo dentro del contenedor según tus necesidades */
    }


    .sidenav .sidenav-nav-item .sidenav-nav-link .sidenav-link-image {  
        width: 1.5rem;
        min-width: 1.3rem;       
    }

    .sidenav-nav-item {
        margin: 0px 2; /* Ajusta el valor según el espacio deseado */
    }
    .sidenav-link-text {
        font-size: 78%;
    }

    .sidenav .sidenav-nav-item .sidenav-nav-link {
        width: 90%; /* Haz que el enlace ocupe todo el ancho del sidenav */
        height: 1.8rem; /* Ajusta la altura según tus necesidades */
    }
    .separator-line {
        margin: 2% 0%;

    }


    .logout-container {
        margin-top:10%; /* Ajusta el margen superior según tus necesidades */
    }

    .logout-container .logo-text {
        visibility: visible; /* Asegúrate de que el texto del logo sea visible */
    }

    .logout-container .logo {
        font-size: 10px; /* Ajusta el tamaño del logo según tus necesidades en píxeles o em */
        text-align: left;
        width: 1rem;
        min-width: 1.3rem;
    }
}

