<div class="sidenav" (mouseenter)="toggleCollapse()" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
    <div class="logo-container">
      <button class="logo" title="Cámara de comercio del Oriente antioqueño">PAT</button>
      <div class="logo-text" *ngIf="collapsed">
        <img src="./assets/logo_ccoa_blanco.png" width="120px" alt="logo" id="logo">
      </div>
    </div>
    <ul class="sidenav-nav">
      <ng-container *ngFor="let data of navData">
        <ng-container *ngIf="!data.isSeparator && (isAdmin || !data.adminOnly)">
          <li class="sidenav-nav-item">
            <a class="sidenav-nav-link" title="{{data.label}}"
              [routerLink]="[{ outlets: { 'OutletAdmin': [data.routeLink] } }]" routerLinkActive="router-link-active">
              <img class="sidenav-link-image" [src]="data.imageSource" />
              <span class="sidenav-link-text" *ngIf="collapsed">
                {{ data.label }}
              </span>
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="data.isSeparator">
          <hr class="separator-line" />
        </ng-container>
      </ng-container>
    </ul>
    
    <div class="logout-container bottom">
      <button (click)="logOut()" title="Cerrar sesión"><i class="bi bi-box-arrow-right"></i></button> 
      <span class="username" [class.show]="!collapsed">{{ nombreUsuario }}</span>
    </div>   
    <div class="footer-label" >
      <span *ngIf="collapsed">v.1.5.1Alpha</span>
    </div> 
</div>


<main class="main col" id="main-content" (mouseenter)="closeSidenav()">
                
  <div class="main">
      <div class="header">
          <h3>Plan anual de trabajo</h3>
      </div>
  </div>

  <router-outlet name="OutletAdmin"></router-outlet>
</main>


  