.row {
    margin-top: 10dvh;
    justify-content: center;
}
.card {
    border: 1px solid #838282; /* Establece un borde sólido */
    border-radius: 30px; /* Agrega esquinas redondeadas */
    padding: 30px; /* Agrega espacio interior para el contenido */
    box-shadow: 0 4px 8px rgba(192, 181, 181, 0.2); /* Agrega una sombra */
    background-color: #fff; /* Establece un fondo blanco */
}

.card h2 {
    margin-top: 0; /* Elimina el margen superior del título */
    text-align: center; /* Centra el título */
}
