<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" type="text/css" href="pat.crear.component.scss">
</head>
<body>

<section class="gradient-form">
    <div >
        <div class="container">
            <div class="row ">
                <div class="col-xl-9">
                        <div class="card">
                            <h2 class="text-center">Crear plan Anual de trabajo</h2>

                            <form [formGroup]="form" (ngSubmit)="crearPat()">
                                <!-- Elimina [(ngModel)] y usa solo formControlName para los campos -->
                                <div class="form-floating mb-3">
                                    <input type="text" id="nombre" class="form-control form-control-lg" formControlName="nombre" placeholder="nombre">
                                    <label class="form-label" for="nombre">Nombre</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="number" id="fechaAnual" class="form-control form-control-lg" formControlName="fechaAnual" placeholder="Año">
                                    <label class="form-label" for="fechaAnual">Año</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <select class="form-select" id="direccion" formControlName="direccion">
                                        <option *ngFor="let direccion of direcciones" [value]="direccion.nombre">{{ direccion.nombre }}</option>
                                    </select>
                                    <label for="proceso" class="form-label">Dirección</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <select class="form-select" id="proceso" formControlName="proceso">
                                        <option *ngFor="let proceso of procesos" [value]="proceso.nombre">{{ proceso.nombre }}</option>
                                    </select>
                                    <label for="proceso" class="form-label">Proceso</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <select class="form-select" id="idUsuario" formControlName="idUsuario">
                                        <option *ngFor="let usuario of usuarios" [value]="usuario.idUsuario">{{ usuario.nombre + ' ' + usuario.apellidos | formatEnum }}</option>
                                    </select>
                                    <label for="idUsuario" placeholder="usuario">Responsable:</label>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-secondary btn-block me-2"
                                        [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarPat'] } }]"
                                        > Atrás</button>
                                  <button type="submit" class="btn btn-success btn-block btn-lg " [disabled]="!form.valid">Registrar</button>
                                </div>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
