<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pat.crear.component.scss">
    <title>Lista de Areas</title>
</head>
<body>
    <h1>PATS</h1>
    <main class="main text-center smaller-main">
        <div class="widgets porcentajes">
            <h3>Porcentajes </h3>
                <div class="contenedor d-flex flex-wrap">
                    <div class="caja">
                        <h3>0%</h3>
                        <p>Porcentaje Real</p>
                    </div>
                    <div class="caja">
                        <h3>0%</h3>
                        <p>Porcentaje Esperado</p>
                    </div>
                    <div class="caja">
                        <h3>0%</h3>
                        <p>Cumplimiento</p>
                    </div>
                </div>
        </div>
    </main>
</body>
</html>