<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="actividadestrategica.pendiente.component.scss">
</head>
<body>
  <div >
    <div class="row">
      <div class="mb-2">
        <h1 >Actividades Estratégicas - PAT</h1>
      </div>
        <div class="subcuadro abierto">
          <div class="row">
            <h3>Total: {{ totalActividadesEstrategicasPendintes }} </h3>           
        </div>
        </div>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-md-1">
      <div class="custom-button">
        <h5>Busqueda por:&nbsp;</h5>
      </div>
    </div>
    <div class="col-md-3">
        <div class="custom-button d-flex align-items-center">
            <span>Nombre:&nbsp;</span>
            <input type="text" class="form-control me-1" [(ngModel)]="busqueda"/>
        </div>
    </div>
  </div> 
  <main class="main text-center smaller-main">
    <div *ngIf="actividadesEstrategicasPendientes.length === 0; else actividadListNotEmpty">
      <p>No hay actividades estratégicas pendientes.</p>
    </div>
    <ng-template #actividadListNotEmpty>
      <table class="table table-hover">
        <thead class="table-danger">
          <tr>
            <th class="column-nombre">Nombre</th>
            <th>Fecha Inicial</th>
            <th>Fecha Final</th>
            <th>Duracion (Días)</th>
            <th>Dias Restantes</th>
            <th>% Avance real</th>
            <th>% Avance esperado</th>
            <th>% Cumplimiento</th>
            <th>Responsable</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let actividad of actividadesEstrategicasPendientes">
              <tr (click)="irADetalles(actividad)" title="{{actividad.nombre}}">
                <td>{{ actividad.nombre }}</td>
                <td>{{ actividad.fechaInicial }}</td>
                <td>{{ actividad.fechaFinal }}</td>
                <td>{{ actividad.duracion }}</td>
                <td [ngClass]="colorPorcentaje(actividad.avance)">
                <span *ngIf="actividad.avance !== 100"[ngClass]="colorDias(actividad.diasRestantes)">{{ actividad.diasRestantes }}</span>
                  <span *ngIf="actividad.avance === 100">Finalizado</span>
                </td>
                <td >{{ actividad.porcentajeReal | comasPipe}} %</td>
                <td >{{ actividad.porcentajeEsperado | comasPipe}} %</td>
                <td [ngClass]="colorPorcentaje(actividad.porcentajeCumplimiento)">{{ actividad.porcentajeCumplimiento | comasPipe}} %</td>
                <td>{{ obtenerNombreUsuario(actividad.idUsuario) }}</td>
              </tr>
            </ng-container>
        </tbody>
      </table>
    </ng-template>
  </main>

  
</body>
</html>