body{
    background: #ffffff;
    font-size: 16px;
    font-family: 'Roboto';
}
.main {
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
h3 {
    margin: 0;
    font-family: 'Roboto', monospace;
    text-align: right;
    margin-left: auto; 
}
button {
    margin-left: auto; /* Mueve el botón a la derecha */
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.barra-lateral{
    background: #f1f5f4b0;
    color: #768180;
    min-width: 300px;
    min-height: 100vh;
    padding: 0;
}
.barra-lateral a{
    color: #000000;
    text-align: left;
}
.barra-lateral h2{

    color: #000000;
    text-align: center;
    margin: 0 auto;
}
.barra-lateral .menu a{
    text-decoration: none;
    display: block;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border-bottom: 1px solid rgba(1, 15, 17, 0.1);
}
.barra-lateral .logo {
    display: flex;
    align-items: center;
    padding: 20px;
}
.barra-lateral .logo img {
    margin: 0 auto; 
}

.barra-lateral .menu a:hover{
    background: #c5c4c4;
}


.icon-home::before {
    font-size: 24px; /* Cambia el tamaño de los iconos a 24px */
}

.barra-lateral .menu a svg{
    margin-right: 20px;
    font-weight: normal;
    width: 20px;
}

.main .btn a span{
    margin-left: 20px;
    font-weight: normal;
    width: 20px;
}

/*---QUERIES--*/
@media screen and (max-width:1000px){
    .barra-lateral{
        min-width: auto;
    }  
    .barra-lateral .logo{
        display: none;
    }
    .barra-lateral h2{
        display: none;
    }
    .barra-lateral .menu a span{
        display: none;
    }
    .barra-lateral .menu a svg{
        margin:0;
    }
    .main{
        min-width: auto;
    }
    .main .btn{      
        width: auto; /* Ancho en píxeles o cualquier otra unidad de medida */
    }
    .main .btn a span{
        display: none;
    }
}

@media screen and (max-width:576px){
    .barra-lateral{
        min-height: auto;
    }
    .barra-lateral .menu a{
        display: inline-block;
        border-bottom: none;
    }
    .main{
        min-height: auto;
        flex-direction: column; /* Cambia la dirección de la flexbox a columna */
        align-items: flex-start; /* Alinea el botón a la izquierda */
    }
}




