<html>
<body>
    <div class="row-with-button">
      <div>
        <h1 class="mb-2">Dashboard</h1>
      </div>
    </div>  
    <main class="main smaller-main">
      <form [formGroup]="form">
        <div class="form-floating mb-3">
          
          <select class="form-select" id="pat" formControlName="pat" >
            <option value="" disabled selected>Seleccione el pat a filtrar*</option>
            <option *ngFor="let pat of nombrePats" [value]="pat">{{ pat }}</option>
          </select>
          <label for="pat" class="form-label">Pat</label>
        </div>
      </form>
      <div>
        <div class="row">
          <div class="col">
            <h2 class="text-center mb-3">% de avance del PAT</h2>
            <div class="chart-container">
              <canvas id="chartPrincipal"></canvas>
            </div>
          </div>
          <div class="col">
            <h2 class="text-center mb-3">% de avance del programa</h2>
            <div class="chart-container">
              <canvas id="chartProgramasRealEsperado"></canvas>
            </div>
          </div>
          
        </div>
      </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.4/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>
