.body{
  font-family: "Roboto";
}

.card {
  border: 1px solid #838282; /* Establece un borde sólido */
  border-radius: 30px; /* Agrega esquinas redondeadas */
  padding: 30px; /* Agrega espacio interior para el contenido */
  box-shadow: 0 4px 8px rgba(192, 181, 181, 0.2); /* Agrega una sombra */
  background-color: #fff; /* Establece un fondo blanco */
}

.card h2 {
  margin-top: 0; /* Elimina el margen superior del título */
  text-align: center; /* Centra el título */
}

.row {
  justify-content: center;
}


    .form-check-input {
        width: 20px; /* Ancho deseado */
        height: 20px; /* Altura deseada */
        margin-right: 10px; /* Espacio entre el input y la etiqueta de texto */
        border: 1px solid #000000; /* Borde con color gris claro */
        border-radius: 4px;  /* Espacio entre el input y la etiqueta de texto */
    }
    
    /* Estilo para el color del texto de las etiquetas de los inputs */
    .form-check-label {
        color: #333; /* Cambiar el color de texto según tus preferencias */
    }
    
    /* Estilo para cambiar el color de fondo de los inputs seleccionados */
    .form-check-input:checked {
        background-color: #007bff; /* Cambiar el color de fondo cuando el input está seleccionado */
        border-color: #007bff; /* Cambiar el color del borde cuando el input está seleccionado */
        color: #552a2a; /* Cambiar el color del texto cuando el input está seleccionado */
    }


    .error-message {
      color: red;
    }
    
.required-field {
    color: red
}

.form-floating select {
  padding: 10px;
}

.remove-icon {
  color: red;
  cursor: pointer;
  margin-left: 10px;
}

.direcciones-lista {
  white-space: nowrap;  /* Evita el salto de línea automático */
  overflow-x: auto;     /* Agrega una barra de desplazamiento horizontal si es necesario */
}

.direcciones-lista span {
  display: inline-block; /* Muestra cada dirección en línea */
  margin-right: 10px;    /* Espacio entre cada dirección */
}

.input{
  display: flex; 
  align-items: center;
}
.btn-input{
  width: 25%;
}

.table-color th{
  background-color: #bbbbbb;
}
td {
  cursor: pointer;
}
th{
  color: #161515c0;
}
.nota li {
  font-size: small;
}
