.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }

    .form-check-input {
        width: 20px; /* Ancho deseado */
        height: 20px; /* Altura deseada */
        margin-right: 10px; /* Espacio entre el input y la etiqueta de texto */
        border: 1px solid #000000; /* Borde con color gris claro */
        border-radius: 4px;  /* Espacio entre el input y la etiqueta de texto */
    }
    
    /* Estilo para el color del texto de las etiquetas de los inputs */
    .form-check-label {
        color: #333; /* Cambiar el color de texto según tus preferencias */
    }
    
    /* Estilo para cambiar el color de fondo de los inputs seleccionados */
    .form-check-input:checked {
        background-color: #007bff; /* Cambiar el color de fondo cuando el input está seleccionado */
        border-color: #007bff; /* Cambiar el color del borde cuando el input está seleccionado */
        color: #552a2a; /* Cambiar el color del texto cuando el input está seleccionado */
    }

    .abs-center {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 10vh;
      }
    
      .abs-abajo {
        min-height: 15vh;
      }
    
      body {
        font-family: 'Roboto',serif;
        margin: 0;
        padding: 0;
    }
    h2 {
      border-radius: 50px;
      text-align: center;
      background-color: #504f4f;
      color: #e7e5e5;
      padding: 10px;
      margin: 0;
    }
    .form-label {
      text-align: left;
      font-family: 'Roboto',monospace;
    }