<body class="gradient-form" >
  <head><link rel="stylesheet" type="text/css" href="usuario.crear.component.scss"></head>
  <div >
    <div class="container">
        <div class="row ">
            <div class="col-xl-9">
              <div class="card">
                <h2 class="mb-4">Crear usuario</h2>

                <form [formGroup]="form" (ngSubmit)="crearUsuario()" class="obligatorio">
                  <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" id="nombre" [class.is-invalid]="nombreVacio"  class="form-control form-control-lg" formControlName="nombre" placeholder="nombre">
                            <label class="form-label" for="nombre">Nombre<span class="required-field">*</span></label>
                            <small *ngIf="nombreVacio" class="text-danger">{{ ESTE_CAMPO_ES_OBLIGARORIO }}</small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" id="apellido" [class.is-invalid]="apellidoVacio"  class="form-control form-control-lg" formControlName="apellido" placeholder="apellido">
                            <label class="form-label" for="apellido">Apellidos<span class="required-field">*</span></label>
                            <small *ngIf="apellidoVacio" class="text-danger">{{ ESTE_CAMPO_ES_OBLIGARORIO }}</small>
                        </div>
                    </div>
                  </div>
                
                  <div class="form-floating mb-2">
                    <input type="email" id="correo" [class.is-invalid]="correoVacio"  class="form-control form-control-lg" formControlName="correo" placeholder="correo">
                    <label class="form-label" for="correo">Correo<span class="required-field">*</span></label>
                    <small *ngIf="correoVacio" class="text-danger">{{ ESTE_CAMPO_ES_OBLIGARORIO }}</small>
                  </div>

                  <div class="row d d-flex">
                    <div class="col-md-6">
                      <div class="form-floating mb-2">
                        <input type="password" id="password" [class.is-invalid]="passwordVacio" class="form-control form-control-lg" formControlName="password" placeholder="password">
                        <label class="form-label" for="password">Contraseña<span class="required-field">*</span></label>
                        <small *ngIf="passwordVacio" class="text-danger">{{ ESTE_CAMPO_ES_OBLIGARORIO }}</small>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-floating mb-2">
                        <input type="password" id="cpassword" [class.is-invalid]="cpasswordVacio" class="form-control form-control-lg" formControlName="cpassword" placeholder="cpassword">
                        <label class="form-label" for="cpassword">Confirmar contraseña<span class="required-field">*</span></label>   
                        <small *ngIf="cpasswordVacio" class="text-danger">{{ ESTE_CAMPO_ES_OBLIGARORIO }}</small>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <h6>Requisitos para crear la contraseña:</h6>
                        <ul class="nota">
                          <li>Mínimo una minúscula</li>
                          <li>Mínimo una mayúscula</li>
                          <li>Mínimo un carácter especial</li>
                          <li>Mínimo un número</li>
                          <li>Mínimo 13 carácteres</li>
                        </ul>
                      <span *ngIf="form.errors?.['passwordMatchError']" class="error-message">No coinciden las contraseñas</span>
                  </div>
                  </div>

                  <div class="row mb-2">
                    <div class="col-md-6">
                      <div class="d-md-flex justify-content-start align-items-center py-2" [class.is-invalid]="nombreRolVacio">
                        <label class="mb-0 me-4">Rol<span class="required-field" >*</span> :</label>
                        <div class="form-check form-check-inline mb-0 me-2">
                          <input class="form-check-input" type="radio" name="nombreRol" id="administrador"  value="ADMIN" formControlName="nombreRol" />
                          <label class="form-check-label" for="admin">Administrador</label>
                        </div>
                        <div class="form-check form-check-inlin me-2">
                          <input class="form-check-input" type="radio" name="nombreRol" id="director" value="DIRECTOR" formControlName="nombreRol" />
                          <label class="form-check-label" for="director">Director</label>
                        </div>
                        <div class="form-check form-check-inlin me-2">
                          <input class="form-check-input" type="radio" name="nombreRol" id="operador" value="OPERADOR" formControlName="nombreRol" />
                          <label class="form-check-label" for="operador">Operador</label>
                        </div>
                      </div>
                      <small *ngIf="nombreRolVacio" class="text-danger">{{ ESTE_CAMPO_ES_OBLIGARORIO }}</small>
                    </div>
                    <div class="col-md-6">
                      <div class="form-floating">
                        <select class="form-select" id="idCargo" [class.is-invalid]="idCargoVacio" formControlName="idCargo">
                          <option value="" disabled selected>Seleccione el cargo<span class="required-field">*</span></option>
                          <option *ngFor="let cargo of cargos" [value]="cargo.idCargo">{{ cargo.nombre}}</option>
                        </select>
                        <small *ngIf="idCargoVacio" class="text-danger">{{ ESTE_CAMPO_ES_OBLIGARORIO }}</small>
                      </div>
                    </div>
                  </div>
                  <div class="form-floating mb-2">
                    <div class="input">
                      <select class="form-select me-4" id="direcciones" [class.is-invalid]="direccionesVacio" formControlName="direcciones">
                        <option value="" disabled selected>Seleccione las direcciones<span class="required-field">*</span></option>
                        <option *ngFor="let direccion of direcciones" [value]="direccion.nombre">{{ direccion.nombre }}</option>
                      </select>
                      <small *ngIf="direccionesVacio" class="text-danger">Este campo es obligatorio, seleccione y agregue*</small>
                      <button (click)="agregarDirecciones()" class="btn btn-outline-success btn-input" type="button">Agregar dirección</button>
                    </div>
                  </div>
                  <div class="direcciones-lista">
                      <h6 *ngFor="let direccionSeleccionada of listaDeDireccionesSeleccionadas">{{ direccionSeleccionada}}</h6>
                  </div>
                                      
                  <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary btn-block me-2"
                      [routerLink]="['/panel', { outlets: { 'OutletAdmin': ['listarUsuario'] } }]"
                      >Atrás</button>
                    <button type="submit" class="btn btn-success btn-lg">Registrar</button>
                  </div>
                </form>
              </div>
          </div>
        </div>
      </div>
    </div>
</body>