.body{
  font-family: "Roboto", sans-serif;
}
  
h1 {
    font-size:xx-large;
    margin-top: 1dvh ;
}  
h3{
  font-size: large;
  color: #257236;
}
h5 {
    font-family: "Roboto", unset;
    font-size: 18px;
    margin-bottom: 1px;
}
    
/* Estilos para el elemento .smaller-main */
.smaller-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;

}
  
.custom-button {
  display: flex;
  align-items: center;
  margin-bottom: 10px; // Ajusta según sea necesario
  margin-top: auto; /* Empuja el botón hacia la parte inferior del conteneddor */
  width: auto; /* Los botones ocuparán todo el ancho de su contenedor */
}


.table-color th{
    background-color: #bbbbbb;
}


  .porcentaje-bajo {
    color: red; // Define el color rojo para porcentajes bajos.
  }
  .porcentaje-medio {
    color: orange; // Define el color verde (u otro color de tu elección) para porcentajes normales.
  }
  .porcentaje-cien {
    color: green; // Define el color verde (u otro color de tu elección) para porcentajes normales.
  }
  .porcentaje-normal {
    color: #504f4f;
  }
  .column-nombre {
    width: 500px; /* Ajusta el ancho a tu preferencia */
  }
  th,td {
    vertical-align: middle;
    text-align: center; /* Centra el texto horizontalmente en las celdas del encabezado */
  }
  .table-color th{
    background-color: #bbbbbb;
}
th{
  color: #161515c0;
}
  
  