<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="actividadestrategica.listar.component.scss">
</head>
<body>
  <div class="row-with-button">
    <div>
      <h1 class="mb-2">Actividades Estratégicas</h1>
    </div>
  </div>  
  <main class="main text-center smaller-main">
    <table class="table table-bordered table-hover">
      <thead class="table table-color">
        <tr>
          <th>Programa - PAT</th>
          <th class="column-nombre">Nombre</th>
          <th>Fecha Inicial</th>
          <th>Fecha Final</th>
          <th>Duracion (Días)</th>
          <th>Dias Restantes</th>
          <th>% Avance real</th>
          <th>Responsable</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let actividad of actividadesEstrategicas">
          <tr (click)="irADetalles(actividad)" title="{{actividad.nombre}}">
            <td>{{ obtenerNombrePat(actividad.idPat) }}</td>
            <td>{{ actividad.nombre }}</td>
            <td>{{ actividad.fechaInicial }}</td>
            <td>{{ actividad.fechaFinal }}</td>
            <td>{{ actividad.duracion }}</td>
            <td [ngClass]="colorPorcentaje(actividad.porcentajeReal)">
            <span *ngIf="actividad.avance !== 100"[ngClass]="colorDias(actividad.diasRestantes)">{{ actividad.diasRestantes }}</span>
              <span *ngIf="actividad.avance === 100">Finalizado</span>
            </td>
            <td [ngClass]="colorPorcentaje(actividad.avance)">{{ actividad.porcentajeReal }} %</td>
            <td>{{ obtenerNombreUsuario(actividad.idUsuario) }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </main>

  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.4/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>


  
</body>
</html>
