<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="actividadestrategica.listar.component.scss">
</head>
<body>
  <div>
    <div class="row">
      <div >
        <h1 >Actividades Estratégicas - PAT</h1>
      </div>
        <div class="row">
          <h2>Total PAT: {{ totalActividadesEstrategicas }} </h2>           
        </div>
        <div class="row">
          <h3>Total PAT pendientes: {{ totalActividadesEstrategicasPendintes }} </h3>           
      </div>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-md-1">
      <div class="custom-button">
        <h5>Busqueda por:&nbsp;</h5>
      </div>
    </div>
    <div class="col-md-3">
        <div class="custom-button d-flex align-items-center">
            <span>Nombre:&nbsp;</span>
            <input type="text" class="form-control" [(ngModel)]="busqueda"/>
        </div>
    </div>
    <div class="col-md-3">
      <div class="custom-button d-flex align-items-center">
          <span>Responsable:&nbsp;</span>
          <input type="text" class="form-control me-1" [(ngModel)]="busquedaUsuario"/>
      </div>
    </div>
  </div>
  <ul class="nav nav-tabs header" id="myTab" role="tablist">
    <li class="nav-item me-1" title="Actividades estratégicas - PAT" >
      <a class="nav-link active" id="estrategicas-tab" data-bs-toggle="tab" href="#estrategicas" role="tab" aria-controls="estrategicas"
       aria-selected="true">Actividades Estratégicas - PAT</a>
    </li>    
    <li class="nav-item me-1" title="Actividades estratégicas - PAT pendientes">
      <a class="nav-link pendiente" id="estrategicaspendientes-tab" data-bs-toggle="tab" href="#estrategicaspendientes" role="tab" aria-controls="estrategicaspendientes" 
      aria-selected="false">Actividades Estratégicas - PAT pendientes</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="estrategicas" role="tabpanel" aria-labelledby="estrategicas-tab">  
      <main class="main text-center smaller-main">
        <table class="table table-hover">
          <thead class="table table-color">
            <tr>
              <th class="column-nombre">Nombre</th>
              <th>Fecha Inicial</th>
              <th>Fecha Final</th>
              <th>Duracion (Días)</th>
              <th>Dias Restantes</th>
              <th>% Avance real</th>
              <th>% Avance esperado</th>
              <th>% Cumplimiento</th>
              <th>Responsable</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let actividad of actividadesEstrategicas  | buscar: busqueda | buscarUsuario: busquedaUsuario : usuarios">
              <tr (click)="irADetalles(actividad)" title="{{actividad.nombre}}">
                <td>{{ actividad.nombre }}</td>
                <td>{{ actividad.fechaInicial }}</td>
                <td>{{ actividad.fechaFinal }}</td>
                <td>{{ actividad.duracion }}</td>
                <td [ngClass]="colorPorcentaje(actividad.porcentajeReal)">
                <span *ngIf="actividad.avance !== 100"[ngClass]="colorDias(actividad.diasRestantes)">{{ actividad.diasRestantes }}</span>
                  <span *ngIf="actividad.avance === 100">Finalizado</span>
                </td>
                <td >{{ actividad.porcentajeReal | comasPipe}} %</td>
                <td >{{ actividad.porcentajeEsperado | comasPipe}} %</td>
                <td [ngClass]="colorPorcentaje(actividad.porcentajeCumplimiento)">{{ actividad.porcentajeCumplimiento | comasPipe}} %</td>
                <td>{{ obtenerNombreUsuario(actividad.idUsuario) }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </main>
    </div>
    <div class="tab-pane fade" id="estrategicaspendientes" role="tabpanel" aria-labelledby="estrategicaspendientes-tab">
      <main class="main text-center smaller-main">
        <div *ngIf="actividadesEstrategicasPendientes.length === 0; else actividadListNotEmpty">
          <p>No hay actividades estratégicas pendientes.</p>
        </div>
        <ng-template #actividadListNotEmpty>
          <table class="table table-hover">
            <thead class="table-danger">
              <tr>
                <th class="column-nombre">Nombre</th>
                <th>Fecha Inicial</th>
                <th>Fecha Final</th>
                <th>Duracion (Días)</th>
                <th>Dias Restantes</th>
                <th>% Avance real</th>
                <th>% Avance esperado</th>
                <th>% Cumplimiento</th>
                <th>Responsable</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let actividad of actividadesEstrategicasPendientes | buscar: busqueda | buscarUsuario: busquedaUsuario : usuarios">
                  <tr (click)="irADetalles(actividad)" title="{{actividad.nombre}}">
                    <td>{{ actividad.nombre }}</td>
                    <td>{{ actividad.fechaInicial }}</td>
                    <td>{{ actividad.fechaFinal }}</td>
                    <td>{{ actividad.duracion }}</td>
                    <td [ngClass]="colorPorcentaje(actividad.avance)">
                    <span *ngIf="actividad.avance !== 100"[ngClass]="colorDias(actividad.diasRestantes)">{{ actividad.diasRestantes }}</span>
                      <span *ngIf="actividad.avance === 100">Finalizado</span>
                    </td>
                    <td >{{ actividad.porcentajeReal | comasPipe}} %</td>
                    <td >{{ actividad.porcentajeEsperado | comasPipe}} %</td>
                    <td [ngClass]="colorPorcentaje(actividad.porcentajeCumplimiento)">{{ actividad.porcentajeCumplimiento | comasPipe}} %</td>
                    <td>{{ obtenerNombreUsuario(actividad.idUsuario) }}</td>
                  </tr>
                </ng-container>
            </tbody>
          </table>
        </ng-template>
      </main>
    </div>
  </div>

  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.4/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>


  
</body>
</html>
